Manufactoring/force-app/main/default/flows/mfg_Product_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Frame_productToUpdate</name>
        <label>Frame productToUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inventory.mfg_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productToUpdate.mfg_Total_On_Hand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productToUpdate.mfg_Total_Reserved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_relatedInventories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Inventory</name>
        <label>Initiate Inventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inventories_Related_To_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_relatedInventories</name>
        <label>Initiate relatedInventories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>relatedInventories</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventories_Related_To_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frame_productToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recalculating_Product_Quantity</name>
        <label>Recalculating Product Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productToUpdate.mfg_Total_On_Hand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_relatedInventories.mfg_Quantity_On_Hand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productToUpdate.mfg_Total_Reserved__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_relatedInventories.mfg_Reserved_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_relatedInventories</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Inventories_Related_To_Product_Found</name>
        <label>Are Inventories Related To Product Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Inventories Related To Product Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventories_Related_To_Product_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventories_Related_To_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_relatedInventories</targetReference>
            </connector>
            <label>Yes, Inventories Related To Product Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Inventory_Found</name>
        <label>Is Inventory Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Inventory Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventory_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Inventory</targetReference>
            </connector>
            <label>Yes, Inventory Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product Sync - mfg_Product_Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Sync</label>
    <loops>
        <name>Iterate_relatedInventories</name>
        <label>Iterate relatedInventories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>relatedInventories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recalculating_Product_Quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inventories_Related_To_Product</name>
        <label>Get Inventories Related To Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Inventories_Related_To_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inventory.mfg_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Inventory__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory</name>
        <label>Get Inventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Inventory_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>productToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inventory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>productToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedInventories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
</Flow>
