Manufactoring/force-app/main/default/flows/mfg_Lead_Round_Robin_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_selectedUserId</name>
        <label>Assign selectedUserId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selectedUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentMember.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Next_User_Index</name>
        <label>Assigning Next User Index</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NextIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Round_Robin_Monitor_Records.mfg_Next_User_Index__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Index_Greater_than_Group_members_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Counting_Group_Members</name>
        <label>Counting Group Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>groupMembersCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateGroupMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Log</name>
        <label>Frame Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Log.mfg_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Logged_By_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Occurred_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Source_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>currentMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Incrementing_Next_Index</name>
        <label>Incrementing Next Index</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NextIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Round_Robin_Monitor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resetting_Next_Index</name>
        <label>Resetting Next Index</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NextIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>currentMember</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Index_Found</name>
        <label>Is Index Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Increment_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NextIndex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_selectedUserId</targetReference>
            </connector>
            <label>Yes,Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Index_Greater_than_Group_members_count</name>
        <label>Is Index Greater than Group members count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>currentMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextIndex</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>groupMembersCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resetting_Next_Index</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Recordtype_Found</name>
        <label>Is Recordtype Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RecordTypeName.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group_Member</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Lead Round Robin Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Round Robin Assignment</label>
    <loops>
        <name>currentMember</name>
        <label>currentMember</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Group_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Index_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_OwnerId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateGroupMembers</name>
        <label>iterateGroupMembers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Group_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counting_Group_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Round_Robin_Monitor_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Log</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Group_Member</name>
        <label>Get Group Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateGroupMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeName</name>
        <label>Get RecordTypeName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Recordtype_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>mfg_Dealer_Lead_Recordtype</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>mfg_Customer_Lead_Recordtype</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Round_Robin_Monitor_Records</name>
        <label>Get Round Robin Monitor Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigning_Next_User_Index</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Round_Robin_Monitor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_OwnerId</name>
        <label>Update Lead OwnerId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Incrementing_Next_Index</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Frame_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>selectedUserId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Round_Robin_Monitor</name>
        <label>Update Round Robin Monitor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Frame_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Round_Robin_Monitor_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>mfg_Next_User_Index__c</field>
            <value>
                <elementReference>NextIndex</elementReference>
            </value>
        </inputAssignments>
        <object>mfg_Round_Robin_Monitor__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordTypeName</targetReference>
        </connector>
        <filterFormula>AND(
   {!$Label.mfg_Activate_Flow} = &quot;true&quot;,
   BEGINS({!$Record.OwnerId}, &quot;00G&quot;),
   TEXT({!$Record.LeadSource}) = &quot;Web&quot;
)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>groupMembersCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Log__c</objectType>
    </variables>
    <variables>
        <name>NextIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>selectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
