Manufactoring/force-app/main/default/flows/mfg_Inventory_Replenishment_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Production_Order_In_Collection_To_Insert</name>
        <label>Add Production Order In Collection To Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionOrdersToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productionOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Production_Warehouses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug</name>
        <label>Debug</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>debugconsole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Respective_Production_WareHouse.mfg_Warehouse_Linking_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>debugConsole2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Inventories.mfg_Warehouse__r.mfg_Warehouse_Linking_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Respective_Warehouse_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>debug_linking_code</name>
        <label>debug linking code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>debuglinkingcode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Inventories.mfg_Warehouse__r.mfg_Warehouse_Linking_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Respective_Production_WareHouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Production_Order</name>
        <label>Frame Production Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProductionOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Respective_Production_WareHouse.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Inventories.mfg_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Estimated_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Quantity_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculatedProductProductionQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Production_Order_In_Collection_To_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Inventories</name>
        <label>Initiate Inventories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>InventoriesBelowSafetyLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Production_Warehouses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Production_Warehouses</name>
        <label>Initiate Production Warehouses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionWarehouses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Warehouses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Inventories</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Respective_Production_WareHouse</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Respective Production WareHouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Respective_Production_WareHouse</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>productionWarehouses</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Respective_Production_WareHouse.mfg_Warehouse_Linking_Code__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Iterate_Inventories.mfg_Warehouse__r.mfg_Warehouse_Linking_Code__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Is_Respective_Warehouse_Filtered</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_Inventories_below_Safety_level_found</name>
        <label>Are Inventories below Safety level found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Inventories Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventories_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Inventories</targetReference>
            </connector>
            <label>Yes, Inventories Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Production_Warehouses_Found</name>
        <label>Are Production Warehouses Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Warehouses are not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Warehouses_are_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Warehouses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Production_Warehouses</targetReference>
            </connector>
            <label>Yes, Production Warehouses are found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Have_Production_Orders_To_Insert</name>
        <label>Do Have Production Orders To Insert ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Do not have Production Orders To Insert</defaultConnectorLabel>
        <rules>
            <name>Yes_Have_Production_Orders_To_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionOrdersToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Production_Orders</targetReference>
            </connector>
            <label>Yes, Have Production Orders To Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Respective_Warehouse_Filtered</name>
        <label>Is Respective Warehouse Filtered ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_Inventories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Respective Warehouse not filtered</defaultConnectorLabel>
        <rules>
            <name>Yes_Respective_Warehouse_Filtered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Respective_Production_WareHouse</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Production_Warehouses</targetReference>
            </connector>
            <label>Yes, Respective Warehouse Filtered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Respective_Warehouse_Found</name>
        <label>Is Respective Warehouse Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_Production_Warehouses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Respective Warehouse not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Respective_Warehouse_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentItem_Respective_Production_WareHouse.mfg_Warehouse_Linking_Code__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_Inventories.mfg_Warehouse__r.mfg_Warehouse_Linking_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frame_Production_Order</targetReference>
            </connector>
            <label>Yes, Respective Warehouse Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calculatedProductProductionQuantity</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE(
  {!Iterate_Inventories.mfg_Reorder_Point_Units__c},
  0
)
-
BLANKVALUE(
  {!Iterate_Inventories.mfg_Available_Quantity__c},
  0
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Inventory Replenishment Process - mfg_Inventory_Replenishment_Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Replenishment Process</label>
    <loops>
        <name>Iterate_Inventories</name>
        <label>Iterate Inventories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>InventoriesBelowSafetyLevel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>debug_linking_code</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Do_Have_Production_Orders_To_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Production_Warehouses</name>
        <label>Iterate Production Warehouses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>productionWarehouses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Debug</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Inventories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Production_Orders</name>
        <label>Create Production Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>productionOrdersToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get inventories which are all below in safety stock level</description>
        <name>Get_Inventories</name>
        <label>Get Inventories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Inventories_below_Safety_level_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Inventory_Below_Safety_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Inventory__c</object>
        <sortField>mfg_Product__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Production_Warehouses</name>
        <label>Get Production Warehouses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Production_Warehouses_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Production</stringValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Warehouse__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inventories</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Get_Respective_Production_Warehouse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Warehouse__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Respective_Production_WareHouse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Warehouse__c</objectType>
    </variables>
    <variables>
        <name>debugconsole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>debugConsole2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>debuglinkingcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventoriesBelowSafetyLevel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>isRespectiveWarehouseFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newProductionOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Order__c</objectType>
    </variables>
    <variables>
        <name>newWarehouse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Warehouse__c</objectType>
    </variables>
    <variables>
        <name>productionOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Order__c</objectType>
    </variables>
    <variables>
        <name>productionOrdersToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Order__c</objectType>
    </variables>
    <variables>
        <name>productionWarehouses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Warehouse__c</objectType>
    </variables>
    <variables>
        <name>respectiveProductionWarehouse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Warehouse__c</objectType>
    </variables>
    <variables>
        <name>warehouseLinkingCode</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
