Manufactoring/force-app/main/default/flows/mfg_Inventory_Sync_From_Stock_Movement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Frame_Inventory_To_Update_With_Reserved_Quantity</name>
        <label>Frame Inventory To Update With Reserved Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventory.mfg_Quantity_On_Hand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stockMovement.mfg_Quantity_Moved__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventory.mfg_Reserved_Quantity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stockMovement.mfg_Quantity_Moved__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Inventory_To_Update_Without_Reserved_Quantity</name>
        <label>Frame Inventory To Update Without Reserved Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventory.mfg_Quantity_On_Hand__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>stockMovement.mfg_Quantity_Moved__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_inventory</name>
        <label>Initiate inventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Customer_Driven_Production_Batch_Stock_Movement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Stock_Movement</name>
        <label>Initiate Stock Movement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>stockMovement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Stock_Movement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Stock_Movement_Completed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Customer_Driven_Production_Batch_Stock_Movement</name>
        <label>Is Customer Driven Production Batch Stock Movement ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Frame_Inventory_To_Update_Without_Reserved_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Not Customer Driven Production Batch Stock Movement</defaultConnectorLabel>
        <rules>
            <name>Yes_Customer_Driven_Production_Batch_Stock_Movement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCustomerDrivenProductionBatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frame_Inventory_To_Update_With_Reserved_Quantity</targetReference>
            </connector>
            <label>Yes, Customer Driven Production Batch Stock Movement</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Related_Inventory_Found</name>
        <label>Is Related Inventory Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventory_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Inventory.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_inventory</targetReference>
            </connector>
            <label>Yes, Inventory Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Stock_Movement_Completed</name>
        <label>Is Stock Movement Completed ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Stock Movement Not Completed</defaultConnectorLabel>
        <rules>
            <name>Yes_Stock_Movement_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>stockMovement.mfg_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Inventory</targetReference>
            </connector>
            <label>Yes, Stock Movement Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Stock_Movement_Record_Found</name>
        <label>Is Stock Movement Record Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Stock_Movement_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Stock_Movement.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Stock_Movement</targetReference>
            </connector>
            <label>Yes, Stock Movement Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isCustomerDrivenProductionBatch</name>
        <dataType>Boolean</dataType>
        <expression>{!stockMovement.mfg_Production_Batch__r.mfg_Production_Order__r.mfg_Is_Customer_Driven__c}</expression>
    </formulas>
    <interviewLabel>Inventory Sync From Stock Movement - mfg_Inventory_Sync_From_Stock_Movement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Sync From Stock Movement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Inventory</name>
        <label>Get Related Inventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Related_Inventory_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>stockMovement.mfg_Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>mfg_Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>stockMovement.mfg_To_Warehouse__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stock_Movement</name>
        <label>Get Stock Movement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Stock_Movement_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Stock_Movement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inventory</name>
        <label>Update Inventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>inventory</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Stock_Movement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stockMovement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Stock_Movement__c</objectType>
    </variables>
</Flow>
