Manufactoring/force-app/main/default/flows/mfg_Stock_Movement_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Frame_Production_Order_To_Update_Status</name>
        <label>Frame Production Order To Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionOrderToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatch.mfg_Production_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrderToUpdate.mfg_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Production_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Stock_Movement</name>
        <label>Frame Stock Movement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>stockMovement.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatch.mfg_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockMovement.mfg_Quantity_Moved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatch.mfg_Units_Passed_QC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockMovement.mfg_From_Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatch.mfg_Production_Order__r.mfg_Warehouse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockMovement.mfg_Movement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transfer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockMovement.mfg_Production_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatch.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockMovement.mfg_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stockMovement.mfg_To_Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storageWarehouse.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Stock_Movement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Production_Batch</name>
        <label>Initiate Production Batch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Batch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Production_Batch_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_storageWarehouse</name>
        <label>Initiate storageWarehouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>storageWarehouse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Storage_Warehouse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frame_Stock_Movement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Not_Completed_Production_Batches_Found</name>
        <label>Is Not Completed Production Batches Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Frame_Production_Order_To_Update_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Not Completed Production Batches Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Not_Completed_Production_Batches_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Not_Completed_Production_Batches</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Not Completed Production Batches Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Batch_Completed</name>
        <label>Is Production Batch Completed ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Batch is Still Running</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_is_completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatch.mfg_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Storage_Warehouse</targetReference>
            </connector>
            <label>Yes, Production Batch is completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Batch_Found</name>
        <label>Is Production Batch Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Batch Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Batch.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Production_Batch</targetReference>
            </connector>
            <label>Yes, Production Batch Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Storage_Warehouse_Found</name>
        <label>Is Storage Warehouse Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Storage Warehouse Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Storage_Warehouse_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Storage_Warehouse.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_storageWarehouse</targetReference>
            </connector>
            <label>Yes, Storage Warehouse Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Stock Movement Creation - mfg_Stock_Movement_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stock Movement Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Stock_Movement</name>
        <label>Create Stock Movement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Not_Completed_Production_Batches</targetReference>
        </connector>
        <inputReference>stockMovement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Production_Batch</name>
        <label>Get Production Batch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Production_Batch_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Production_Batch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Not_Completed_Production_Batches</name>
        <label>Get Related Not Completed Production Batches</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Not_Completed_Production_Batches_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Production_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productionBatch.mfg_Production_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>mfg_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Production_Batch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Storage_Warehouse</name>
        <label>Get Storage Warehouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Storage_Warehouse_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Storage</stringValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Warehouse_Linking_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productionBatch.mfg_Production_Order__r.mfg_Warehouse__r.mfg_Warehouse_Linking_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Warehouse__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Production_Order</name>
        <label>Update Production Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>productionOrderToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Production_Batch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>productionBatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch__c</objectType>
    </variables>
    <variables>
        <name>productionOrderToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Order__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stockMovement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Stock_Movement__c</objectType>
    </variables>
    <variables>
        <name>storageWarehouse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Warehouse__c</objectType>
    </variables>
</Flow>
