Manufactoring/force-app/main/default/flows/mfg_Production_Batch_Unit_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Production_Batch_Unit_In_Collection</name>
        <label>Add Production Batch Unit In Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productBatchUnitsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productBatchUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reduce_Product_Batch_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Production_Batch_Unit</name>
        <label>Frame Production Batch Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productBatchUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProductBatchUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productBatchUnit.mfg_Production_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatch.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productBatchUnit.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatch.mfg_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Production_Batch_Unit_In_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Production_Batch_And_Quantity</name>
        <label>Initiate Production Batch And Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Batch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatchQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatch.mfg_Planned_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Production_Batch_Units_Framed_Based_On_Production_Batch_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reduce_Product_Batch_Quantity</name>
        <label>Reduce Product Batch Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchQuantity</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Are_Production_Batch_Units_Framed_Based_On_Production_Batch_Quantity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Production_Batch_Units_Framed_Based_On_Production_Batch_Quantity</name>
        <label>Are Production Batch Units Framed Based On Production Batch Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Frame_Production_Batch_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Production Batch Units Are Not Framed</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_Units_Are_Framed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchQuantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Are_the_Production_Batch_Unit_records_required_to_be_Inserted</targetReference>
            </connector>
            <label>Yes, Production Batch Units Are Framed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_the_Production_Batch_Unit_records_required_to_be_Inserted</name>
        <label>Are the Production Batch Unit records required to be Inserted?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No,Records Are Not There To Insert</defaultConnectorLabel>
        <rules>
            <name>Yes_Records_are_there_to_Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productBatchUnitsToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Records are there to Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Batch_Found</name>
        <label>Is Production Batch Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Batch Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Batch.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Production_Batch_And_Quantity</targetReference>
            </connector>
            <label>Yes, Production Batch Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Production Batch Unit Creation - mfg_Production_Batch_Unit_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Production Batch Unit Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Production_Batch_Units</name>
        <label>Create Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>productBatchUnitsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Production_Batch</name>
        <label>Get Production Batch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Production_Batch_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Production_Batch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Production_Batch</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>newProductBatchUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productBatchUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productBatchUnitsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionBatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch__c</objectType>
    </variables>
    <variables>
        <name>productionBatchQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
