Manufactoring/force-app/main/default/flows/mfg_Order_Execution_Inventory_Production_And_Transport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Production_Batch_In_Collection</name>
        <label>Add Production Batch In Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatches</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productionBatch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recalculate_Product_Production_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Production_Order_In_Collection</name>
        <label>Add Production Order In Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productionOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frame_Inventory_To_Update_Reserved_Quantity_With_Available_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Transport_Product_In_Collection</name>
        <label>Add Transport Product In Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>transportProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Product_Record_Id_In_productIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Transport_Product_With_Production_Order_In_Collection</name>
        <label>Add Transport Product With Production Order In Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>transportProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initiate_Product_Production_Quantity_And_Batch_Capacity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Inventories_To_Update</name>
        <label>Collect Inventories To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventoriesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Order_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Product_Record_Id_In_productIds</name>
        <label>Collect Product Record Id In productIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Order_products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frame_Inventory_To_Update_Reserved_Quantity_With_Order_Product_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Inventory_To_Update_Reserved_Quantity_With_Available_Quantity</name>
        <label>Frame Inventory To Update Reserved Quantity With Available Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newInventory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filteredInventoryBasedonStorageWarehouseAndProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventory.mfg_Reserved_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filteredInventoryBasedonStorageWarehouseAndProduct.mfg_Reserved_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventory.mfg_Reserved_Quantity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filteredInventoryBasedonStorageWarehouseAndProduct.mfg_Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Inventories_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Inventory_To_Update_Reserved_Quantity_With_Order_Product_Quantity</name>
        <label>Frame Inventory To Update Reserved Quantity With Order Product Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newInventory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filteredInventoryBasedonStorageWarehouseAndProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventory.mfg_Reserved_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filteredInventoryBasedonStorageWarehouseAndProduct.mfg_Reserved_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventory.mfg_Reserved_Quantity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Order_products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Inventories_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Production_Batch</name>
        <label>Frame Production Batch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProductionBatch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatch.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Production_order.mfg_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatch.mfg_Planned_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductProductionBatchCapacity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatch.mfg_Production_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Production_order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Production_Batch_In_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Production_Order</name>
        <label>Frame Production Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Quantity_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateProductQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Is_Customer_Driven__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionWarehouse.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Production_Order_In_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Transport_And_Schedule</name>
        <label>Frame Transport And Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Schedule_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Related_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Storage_Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.mfg_Storage_Warehouse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Destination_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.Account.ShippingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Destination_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Destination_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.Account.ShippingStateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Destination_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Destination_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Product_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Production</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transport_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Transport_Product</name>
        <label>Frame Transport Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTransportProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Transport_And_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transportAndSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Product_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Product_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Transport_Product_In_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Transport_Product_With_Production_Order</name>
        <label>Frame Transport Product With Production Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTransportProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Transport_And_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transportAndSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Product_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Production_order.mfg_Quantity_Ordered__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Production_order.mfg_Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Production_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Production_order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Product_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Production</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Production_order.mfg_Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Transport_Product_With_Production_Order_In_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Order</name>
        <label>Initialize Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Order_products</name>
        <label>Initialize Order products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>orderProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Order_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductIds_From_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Production_Warehouse</name>
        <label>Initialize Production Warehouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionWarehouse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Warehouse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frame_Transport_And_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Filtered_Inventory_Basedon_StorageWarehouse_and_Product</name>
        <label>Initiate Filtered Inventory Basedon StorageWarehouse and Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>filteredInventoryBasedonStorageWarehouseAndProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Filtered_Inventories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Filtered_Inventories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_InventoriesRelatedToStorageWarehouseAndProducts</name>
        <label>Initiate InventoriesRelatedToStorageWarehouseAndProducts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventoriesRelatedToStorageWarehouseAndProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventories_Related_To_Storage_Warehouse_And_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Production_Warehouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Product_Production_Quantity_And_Batch_Capacity</name>
        <label>Initiate Product Production Quantity And Batch Capacity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productProductionQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Production_order.mfg_Quantity_Ordered__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductProductionBatchCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Production_order.mfg_Product__r.mfg_Daily_Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Production_Batches_Framed_Based_On_Production_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Transport_And_Schedule_Record_Id_In_Opportunity</name>
        <label>Populate Transport And Schedule Record Id In Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.mfg_Transport_And_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transportAndSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_Product_Production_Batch_Capacity</name>
        <label>Reassign Product Production Batch Capacity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProductProductionBatchCapacity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productProductionQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Does_Production_Batches_Framed_Based_On_Production_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recalculate_Product_Production_Quantity</name>
        <label>Recalculate Product Production Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productProductionQuantity</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>ProductProductionBatchCapacity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Production_Batch_Quantity_lesser_than_required_Quantity</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Inventories_Basedon_Each_Order_Product</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Inventories Basedon Each Order Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Inventories_Basedon_Each_Order_Product</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>inventoriesRelatedToStorageWarehouseAndProducts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Inventories_Basedon_Each_Order_Product.mfg_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Order_products.Product2Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Filtered_Inventories</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_Inventories_Related_To_Storage_Warehouse_and_Product_Found</name>
        <label>Are Inventories Related To Storage Warehouse and Product Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No,Inventories Related To Storage Warehouse and Products Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventories_Related_To_Storage_Warehouse_and_Products_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventories_Related_To_Storage_Warehouse_And_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_InventoriesRelatedToStorageWarehouseAndProducts</targetReference>
            </connector>
            <label>Yes, Inventories Related To Storage Warehouse and Products Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Production_Batches_Framed_Based_On_Production_Order</name>
        <label>Does Production Batches Framed Based On Production Order ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Frame_Production_Batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Production Batches Not Framed</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batches_Framed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productProductionQuantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Production_order</targetReference>
            </connector>
            <label>Yes, Production Batches Framed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Production_Warehouse_Found</name>
        <label>Does Production Warehouse Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Warehouse Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Warehouse_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Warehouse.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Production_Warehouse</targetReference>
            </connector>
            <label>Yes, Production Warehouse Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Production_Batch_Collection_contain_records_to_create</name>
        <label>Does the Production Batch Collection contain records to create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Does_the_Transport_Products_Collection_contain_records_to_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, It doesn&apos;t have records to create</defaultConnectorLabel>
        <rules>
            <name>Yes_It_has_records_to_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatches</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Production_Batches</targetReference>
            </connector>
            <label>Yes, It has records to create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Production_Order_Collection_contain_records_to_create</name>
        <label>Does the Production Order Collection contain records to create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Does_the_Transport_Products_Collection_contain_records_to_create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, It has no records</defaultConnectorLabel>
        <rules>
            <name>Yes_It_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionOrders</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Production_Order</targetReference>
            </connector>
            <label>Yes, It has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Transport_Products_Collection_contain_records_to_create</name>
        <label>Does the Transport Products Collection contain records to create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, It doesn&apos;t have records to create</defaultConnectorLabel>
        <rules>
            <name>Yes_It_has_records_to_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transportProducts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Transport_Products</targetReference>
            </connector>
            <label>Yes, It has records to insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_InventoriesToupdate_has_records_to_Update</name>
        <label>Is InventoriesToupdate has records to Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Inventory Records are not there to update</defaultConnectorLabel>
        <rules>
            <name>Yes_Have_inventory_records_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inventoriesToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inventories</targetReference>
            </connector>
            <label>Yes, Have inventory records to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Found_And_Activated</name>
        <label>Is Order Found And Activated ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found or Not Activated</defaultConnectorLabel>
        <rules>
            <name>Found_and_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Order</targetReference>
            </connector>
            <label>Found and Activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Product_Quantity_in_Stock</name>
        <label>Is Order Product Quantity in Stock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Frame_Production_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Out Of Stock</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Order_products.Quantity</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>filteredInventoryBasedonStorageWarehouseAndProduct.mfg_Available_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frame_Transport_Product</targetReference>
            </connector>
            <label>Yes, In Stock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Batch_Quantity_lesser_than_required_Quantity</name>
        <label>Is Production Batch Quantity lesser than required Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Does_Production_Batches_Framed_Based_On_Production_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Greater than Required Quantity</defaultConnectorLabel>
        <rules>
            <name>Yes_Lesser_than_Required_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productProductionQuantity</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ProductProductionBatchCapacity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_Product_Production_Batch_Capacity</targetReference>
            </connector>
            <label>Yes, Lesser than Required Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Related_Opportunity_Found</name>
        <label>Is Related Opportunity Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Related opportunity Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Transport_And_Schedule_Record_Id_In_Opportunity</targetReference>
            </connector>
            <label>Yes, Related Opportunity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Related_Order_products_Found</name>
        <label>Is Related Order products Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Order_Products</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Order_products</targetReference>
            </connector>
            <label>Yes, Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calculateProductQuantity</name>
        <dataType>Number</dataType>
        <expression>( 
BLANKVALUE({!Iterate_Order_products.Quantity}, 0)
- 
BLANKVALUE({!filteredInventoryBasedonStorageWarehouseAndProduct.mfg_Available_Quantity__c}, 0)
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Order Execution – Inventory, Production And Transport - mfg_Order_Execution_Inventory_Production_And_Transport  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Execution – Inventory, Production And Transport</label>
    <loops>
        <name>Iterate_Filtered_Inventories</name>
        <label>Iterate Filtered Inventories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Inventories_Basedon_Each_Order_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initiate_Filtered_Inventory_Basedon_StorageWarehouse_and_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Order_Product_Quantity_in_Stock</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Order_products</name>
        <label>Iterate Order products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>orderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Inventories_Basedon_Each_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_the_Production_Order_Collection_contain_records_to_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Production_order</name>
        <label>Iterate Production order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>productionOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Frame_Transport_Product_With_Production_Order</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_the_Production_Batch_Collection_contain_records_to_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Production_Batches</name>
        <label>Create Production Batches</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_the_Transport_Products_Collection_contain_records_to_create</targetReference>
        </connector>
        <inputReference>productionBatches</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Production_Order</name>
        <label>Create Production Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Iterate_Production_order</targetReference>
        </connector>
        <inputReference>productionOrders</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Transport_Products</name>
        <label>Create Transport Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Opportunity</targetReference>
        </connector>
        <inputReference>transportProducts</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Transport_Schedule</name>
        <label>Create Transport Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Iterate_Order_products</targetReference>
        </connector>
        <inputReference>transportAndSchedule</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Inventories_Related_To_Storage_Warehouse_And_Products</name>
        <label>Get Inventories Related To Storage Warehouse And Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Inventories_Related_To_Storage_Warehouse_and_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.mfg_Storage_Warehouse__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>mfg_Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductIds_From_Order_Products</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Inventory__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Order_Found_And_Activated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Production_Warehouse</name>
        <label>Get Production Warehouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Production_Warehouse_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Production</stringValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Warehouse_Linking_Code__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>order.mfg_Storage_Warehouse__r.mfg_Warehouse_Linking_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Warehouse__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunity</name>
        <label>Get Related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Related_Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Synced_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Order_Products</name>
        <label>Get Related Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Related_Order_products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <sortField>OrderItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inventories</name>
        <label>Update Inventories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>inventoriesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Opportunity</name>
        <label>Update Related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_InventoriesToupdate_has_records_to_Update</targetReference>
        </connector>
        <inputReference>opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>ProductIds_From_Order_Products</name>
        <label>ProductIds From Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inventories_Related_To_Storage_Warehouse_And_Products</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>orderProducts[$EachItem].Product2Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Filter_Inventories_Basedon_Each_Order_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Inventories_To_Reduce</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>debug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>filteredInventoryBasedonStorageWarehouseAndProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>inventories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>inventoriesRelatedToStorageWarehouseAndProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>inventoriesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>inventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>isExactInvenotryFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>newProductionBatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch__c</objectType>
    </variables>
    <variables>
        <name>newTransportProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_Product__c</objectType>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>orderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>productIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productionBatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch__c</objectType>
    </variables>
    <variables>
        <name>productionBatches</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch__c</objectType>
    </variables>
    <variables>
        <name>productionOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Order__c</objectType>
    </variables>
    <variables>
        <name>productionOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Order__c</objectType>
    </variables>
    <variables>
        <name>productionWarehouse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Warehouse__c</objectType>
    </variables>
    <variables>
        <name>ProductProductionBatchCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>productProductionQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transportAndSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_And_Schedule__c</objectType>
    </variables>
    <variables>
        <name>transportProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_Product__c</objectType>
    </variables>
    <variables>
        <name>transportProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_Product__c</objectType>
    </variables>
</Flow>
