Manufactoring/force-app/main/default/flows/mfg_Opportunity_After_Save_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Frame_Existing_Synced_Order_To_Update</name>
        <label>Frame Existing Synced Order To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.mfg_Synced_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Synced_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Log</name>
        <label>Frame Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Log.mfg_Occurred_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Logged_By_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Source_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity After Save Handler - mfg_Opportunity_After_Save_Handler</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>User_Notification_Error</name>
        <label>User Notification - Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Frame_Log</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Is_New_Opportunity</name>
        <label>Is New Opportunity ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Synced_Quote_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Opportunity</defaultConnectorLabel>
        <rules>
            <name>New_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>New Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Synced_Order_Created</name>
        <label>Is Synced Order Created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Synced Order Not Created</defaultConnectorLabel>
        <rules>
            <name>Synced_Order_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.mfg_Synced_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frame_Existing_Synced_Order_To_Update</targetReference>
            </connector>
            <label>Synced Order Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Synced_Quote_Changed</name>
        <label>Is Synced Quote Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Synced Quote Not Changed</defaultConnectorLabel>
        <rules>
            <name>Synced_Quote_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SyncedQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SyncedQuoteId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SyncedQuoteId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Synced_Order_Created</targetReference>
            </connector>
            <label>Synced Quote Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Checks if the record is new, and returns TRUE if it is new. Otherwise, returns FALSE</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity After Save Handler - mfg_Opportunity_After_Save_Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Log</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Existing_Synced_Order</name>
        <label>Update Existing Synced Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Triggering_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>User_Notification_Error</targetReference>
        </faultConnector>
        <inputReference>OrderToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Opportunity</name>
        <label>Update Triggering Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>User_Notification_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>mfg_Synced_Order__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Opportunity</targetReference>
        </connector>
        <filterFormula>{!$Label.mfg_Activate_Flow} = &quot;true&quot; &amp;&amp; LOWER({!$Record.RecordType.DeveloperName}) = LOWER(&quot;mfg_Customer_Opportunity_Recordtype&quot;)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the result message from DML operations.</description>
        <name>Log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Log__c</objectType>
    </variables>
    <variables>
        <name>OrderToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
