ClientBMV/Microsoft365/force-app/main/default/flows/BMV_Lead_AI_Qualification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_AI_Response</name>
        <label>Parse AI Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>BMVLeadAIParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Lead_AI_Fields</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>rawResponse</name>
            <value>
                <elementReference>varRawResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BMVLeadAIParser</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varAIAction</assignToReference>
            <name>aiAction</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varAIReason</assignToReference>
            <name>aiReason</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AIScore</assignToReference>
            <name>aiScore</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varAISummary</assignToReference>
            <name>aiSummary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varAITier</assignToReference>
            <name>aiTier</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_BMV_Lead_Qualification</name>
        <label>Run BMV Lead Qualification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>BMV_Lead_Qualification</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Store_Raw_AI_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Lead</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BMV_Lead_Qualification</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Store_Raw_AI_Response</name>
        <label>Store Raw AI Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRawResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Run_BMV_Lead_Qualification.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_AI_Response</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Required_Fields_Populated</name>
        <label>Are Required Fields Populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fields_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Investor_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AUM_Range__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AI_Qualification_Score__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AI_Qualification_Summary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_BMV_Lead_Qualification</targetReference>
            </connector>
            <label>Fields Populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaExtractAction</name>
        <dataType>String</dataType>
        <expression>MID(
  {!varRawResponse},
  FIND(&quot;ACTION: &quot;, {!varRawResponse}) + 8,
  FIND(&quot; REASON:&quot;, {!varRawResponse}) - 
  FIND(&quot;ACTION: &quot;, {!varRawResponse}) - 8
)</expression>
    </formulas>
    <formulas>
        <name>formulaExtractReason</name>
        <dataType>String</dataType>
        <expression>MID(
  {!varRawResponse},
  FIND(&quot;REASON: &quot;, {!varRawResponse}) + 8,
  LEN({!varRawResponse}) - 
  FIND(&quot;REASON: &quot;, {!varRawResponse}) - 7
)</expression>
    </formulas>
    <formulas>
        <name>formulaExtractScore</name>
        <dataType>String</dataType>
        <expression>MID(
  {!varRawResponse},
  FIND(&quot;SCORE: &quot;, {!varRawResponse}) + 7,
  FIND(&quot; TIER:&quot;, {!varRawResponse}) - 
  FIND(&quot;SCORE: &quot;, {!varRawResponse}) - 7
)</expression>
    </formulas>
    <formulas>
        <name>formulaExtractSummary</name>
        <dataType>String</dataType>
        <expression>MID(
  {!varRawResponse},
  FIND(&quot;SUMMARY: &quot;, {!varRawResponse}) + 9,
  FIND(&quot; ACTION:&quot;, {!varRawResponse}) - 
  FIND(&quot;SUMMARY: &quot;, {!varRawResponse}) - 9
)</expression>
    </formulas>
    <formulas>
        <name>formulaExtractTier</name>
        <dataType>String</dataType>
        <expression>MID(
  {!varRawResponse},
  FIND(&quot;TIER: &quot;, {!varRawResponse}) + 6,
  FIND(&quot; SUMMARY:&quot;, {!varRawResponse}) - 
  FIND(&quot;TIER: &quot;, {!varRawResponse}) - 6
)</expression>
    </formulas>
    <formulas>
        <name>formulaScoreNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE(
  MID(
    {!varRawResponse},
    FIND(&quot;SCORE: &quot;, {!varRawResponse}) + 7,
    FIND(&quot; TIER:&quot;, {!varRawResponse}) - 
    FIND(&quot;SCORE: &quot;, {!varRawResponse}) - 7
  )
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>BMV Lead AI Qualification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMV Lead AI Qualification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_AI_Fields</name>
        <label>Update Lead AI Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AI_Disqualification_Reason__c</field>
            <value>
                <elementReference>varAIReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Last_Analyzed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Qualification_Score__c</field>
            <value>
                <elementReference>AIScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Qualification_Summary__c</field>
            <value>
                <elementReference>varAISummary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Qualification_Tier__c</field>
            <value>
                <elementReference>varAITier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Recommended_Action__c</field>
            <value>
                <elementReference>varAIAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>AI Screening</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_Required_Fields_Populated</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AIScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAIAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAIReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAIScore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAISummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAITier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRawResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
