ClientBMV/Microsoft365/force-app/main/default/flows/BMV_Opportunity_Risk_Alert_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_Risk_Response</name>
        <label>Parse Risk Response</label>
        <locationX>396</locationX>
        <locationY>684</locationY>
        <actionName>BMVOpptyRiskParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Risk_Level</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>rawResponse</name>
            <value>
                <elementReference>Run_Risk_Analysis_Prompt.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BMVOpptyRiskParser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Power_Automate_Risk_Alert</name>
        <label>Power_Automate_Risk_Alert</label>
        <locationX>264</locationX>
        <locationY>900</locationY>
        <actionName>BMVPowerAutomateCallout</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Risk_Flag_on_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>aumRange</name>
            <value>
                <elementReference>Loop_Opportunities.AUM_Range__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>closeDate</name>
            <value>
                <elementReference>Loop_Opportunities.CloseDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>daysNoActivity</name>
            <value>
                <elementReference>Loop_Opportunities.Days_No_Activity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>investorType</name>
            <value>
                <elementReference>Loop_Opportunities.Investor_Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextAction</name>
            <value>
                <elementReference>Parse_Risk_Response.nextAction</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>Loop_Opportunities.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityName</name>
            <value>
                <elementReference>Loop_Opportunities.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerEmail</name>
            <value>
                <elementReference>Get_Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ownerName</name>
            <value>
                <elementReference>Get_Owner.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personalMessage</name>
            <value>
                <elementReference>Parse_Risk_Response.personalMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>riskLevel</name>
            <value>
                <elementReference>Parse_Risk_Response.riskLevel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>riskReason</name>
            <value>
                <elementReference>Parse_Risk_Response.riskReason</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stageName</name>
            <value>
                <elementReference>Loop_Opportunities.StageName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urgency</name>
            <value>
                <elementReference>Parse_Risk_Response.urgency</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BMVPowerAutomateCallout</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Run_Risk_Analysis_Prompt</name>
        <label>Run Risk Analysis Prompt</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <actionName>BMV_Opportunity_Risk_Analysis</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_Risk_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Opportunity</name>
            <value>
                <elementReference>Loop_Opportunities</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BMV_Opportunity_Risk_Analysis</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Risk_Level</name>
        <label>Check Risk Level</label>
        <locationX>396</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Loop_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Medium Or Low</defaultConnectorLabel>
        <rules>
            <name>High_Or_Critical</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Parse_Risk_Response.riskLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parse_Risk_Response.riskLevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Critical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Power_Automate_Risk_Alert</targetReference>
            </connector>
            <label>High Or Critical</label>
        </rules>
    </decisions>
    <description>Runs daily at 8AM. Finds all open opportunities with no activity for 7 or more days and sets the Risk Flag.</description>
    <environments>Default</environments>
    <formulas>
        <name>varSFRecordURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://orgfarm-325dfbb8d0-dev-ed.develop.lightning.force.com/lightning/r/Opportunity/&quot; &amp; {!Loop_Opportunities.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>BMV Opportunity Risk Alert Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BMV Opportunity Risk Alert Scheduled</label>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop At Risk Opportunities</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_At_Risk_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Owner</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_At_Risk_Opportunities</name>
        <label>Get At Risk Opportunities</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Days_No_Activity__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Days_No_Activity__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner</name>
        <label>Get Opportunity Owner</label>
        <locationX>396</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Risk_Analysis_Prompt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Opportunities.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Teams_UPN__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Risk_Flag_on_Opportunity</name>
        <label>Set Risk Flag on Opportunity</label>
        <locationX>264</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Opportunities.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Risk_Alert_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Level__c</field>
            <value>
                <elementReference>Parse_Risk_Response.riskLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Next_Action__c</field>
            <value>
                <elementReference>Parse_Risk_Response.nextAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Personal_Message__c</field>
            <value>
                <elementReference>Parse_Risk_Response.personalMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Reason__c</field>
            <value>
                <elementReference>Parse_Risk_Response.riskReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Urgency__c</field>
            <value>
                <elementReference>Parse_Risk_Response.urgency</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_At_Risk_Opportunities</targetReference>
        </connector>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-04-22</startDate>
            <startTime>17:44:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tmplRequestBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{
 &quot;opportunityId&quot;: &quot;{!Loop_Opportunities.Id}&quot;,
 &quot;opportunityName&quot;: &quot;{!Loop_Opportunities.Name}&quot;,
 &quot;stageName&quot;: &quot;{!Loop_Opportunities.StageName}&quot;,
 &quot;closeDate&quot;: &quot;{!Loop_Opportunities.CloseDate}&quot;,
 &quot;daysNoActivity&quot;: &quot;{!Loop_Opportunities.Days_No_Activity__c}&quot;,
 &quot;investorType&quot;: &quot;{!Loop_Opportunities.Investor_Type__c}&quot;,
 &quot;aumRange&quot;: &quot;{!Loop_Opportunities.AUM_Range__c}&quot;,
 &quot;ownerName&quot;: &quot;{!Get_Owner.Name}&quot;,
 &quot;ownerEmail&quot;: &quot;{!Get_Owner.Email}&quot;,
 &quot;riskLevel&quot;: &quot;{!Parse_Risk_Response.riskLevel}&quot;,
 &quot;riskReason&quot;: &quot;{!Parse_Risk_Response.riskReason}&quot;,
 &quot;nextAction&quot;: &quot;{!Parse_Risk_Response.nextAction}&quot;,
 &quot;urgency&quot;: &quot;{!Parse_Risk_Response.urgency}&quot;,
 &quot;personalMessage&quot;: &quot;{!Parse_Risk_Response.personalMessage}&quot;,
 &quot;sfRecordUrl&quot;: &quot;https://orgfarm-325dfbb8d0-dev-ed.develop.lightning.force.com//lightning/r/Opportunity/{!Loop_Opportunities.Id}/view&quot;
}</text>
    </textTemplates>
</Flow>
