ClientBMV/Microsoft365/force-app/main/default/flows/BMV_Update_Last_Activity_Date_on_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Related_to_Opportunity</name>
        <label>Is Related to Opportunity</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Not Opportunity</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Opportunity_Related</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Last_Activity_Date</targetReference>
            </connector>
            <label>Yes Opportunity</label>
        </rules>
    </decisions>
    <description>Updates Last_Activity_Date__c on the related Opportunity when an Event is created and is related to an Opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>Is_Opportunity_Related</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!$Record.WhatId}, &quot;006&quot;)</expression>
    </formulas>
    <label>BMV Update Last Activity Date on Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Last_Activity_Date</name>
        <label>Update Last Activity Date</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Activity_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Related_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
