MFG Ready Version/force-app/main/default/flows/Invoice_Balance_Amount_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculate_Paid_Amount</name>
        <label>Calculate Paid Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PaidAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Invoice_Related_Payments.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Related_Payments</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>BalanceAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Invoice_And_Payment__r.mfg_Amount__c} - {!PaidAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InvoiceStatus</name>
        <dataType>String</dataType>
        <expression>IF({!BalanceAmount} &lt;= 0, &quot;Paid&quot;, &quot;In Progress&quot;)</expression>
    </formulas>
    <interviewLabel>Invoice Balance Amount Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Balance Amount Calculation</label>
    <loops>
        <name>Invoice_Related_Payments</name>
        <label>Invoice Related Payments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Paid_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Payments</name>
        <label>Get All Payments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Related_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice_And_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice_And_Payment__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Records</name>
        <label>Update Invoice Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Invoice_And_Payment__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>mfg_Amount_Paid__c</field>
            <value>
                <elementReference>PaidAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mfg_Balance_Amount__c</field>
            <value>
                <elementReference>BalanceAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mfg_Status__c</field>
            <value>
                <elementReference>InvoiceStatus</elementReference>
            </value>
        </inputAssignments>
        <object>mfg_Invoice_And_Payment__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PaidAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
