MFG Ready Version/force-app/main/default/flows/mfg_Product_After_Save_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>PRODUCT_OBJECT_TYPE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>product</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_New_Product</name>
        <label>Is New Product ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Existing Product</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Creation</targetReference>
            </connector>
            <label>Yes, New Product</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Product After Save Handler - mfg_Product_After_Save_Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product After Save Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Product</targetReference>
        </connector>
        <filterFormula>{!$Label.mfg_Activate_Flow} = &quot;true&quot;</filterFormula>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Inventory_Creation</name>
        <label>Inventory Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>mfg_Inventory_Creation</flowName>
        <inputAssignments>
            <name>objectType</name>
            <value>
                <elementReference>PRODUCT_OBJECT_TYPE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
