MFG Ready Version/force-app/main/default/flows/mfg_Transport_And_Schedule_After_Save_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_New_Transport_And_Schedule</name>
        <label>Is New Transport And Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Schedule_Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Existing transport And Schedule</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Transport_And_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transport_Product_Creation</targetReference>
            </connector>
            <label>Yes, New Transport And Schedule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Schedule_Status_Changed</name>
        <label>Is Schedule Status Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Schedule Status Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Schedule_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.mfg_Schedule_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.mfg_Schedule_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Production_Batch_Unit_With_Transport_And_Schedule</targetReference>
            </connector>
            <label>Yes, Schedule Status Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Transport And Schedule After Save Handler -  mfg_Transport_And_Schedule_After_Save_Handler{!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport And Schedule After Save Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Transport_And_Schedule</targetReference>
        </connector>
        <filterFormula>{!$Label.mfg_Activate_Flow} = &quot;true&quot;</filterFormula>
        <object>mfg_Transport_And_Schedule__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Sync_Production_Batch_Unit_With_Transport_And_Schedule</name>
        <label>Sync Production Batch Unit With Transport And Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>mfg_Sync_Production_Batch_Unit_With_Transport_And_Schedule</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Transport_Product_Creation</name>
        <label>Transport Product Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>mfg_Transport_Product_Creation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
