MFG Ready Version/force-app/main/default/flows/mfg_Transport_And_Schedule_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Frame_Transport_And_Schedule</name>
        <label>Frame Transport And Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportAndSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTransportAndSchedule</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Related_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Related_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Schedule_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Storage_Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.mfg_Storage_Warehouse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Destination_Address__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.ShippingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Destination_Address__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.ShippingStateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Destination_Address__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Destination_Address__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportAndSchedule.mfg_Destination_Address__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transport_And_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Order</name>
        <label>Initiate Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Order_Activated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Order_Activated</name>
        <label>Is Order Activated ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Order Not Activated</defaultConnectorLabel>
        <rules>
            <name>Yes_Order_is_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Transport_And_Schedule</targetReference>
            </connector>
            <label>Yes, Order is Activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Found</name>
        <label>Is Order Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Order Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Order_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Order</targetReference>
            </connector>
            <label>Yes, Order Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_has_related_Opportunity</name>
        <label>Is Order has related Opportunity?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Order hasn&apos;t related opportunity</defaultConnectorLabel>
        <rules>
            <name>Yes_Order_has_related_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>order.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Opportunity</targetReference>
            </connector>
            <label>Yes, Order has related Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Related_Transport_And_Schedule_Found</name>
        <label>Is Related Transport And Schedule Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Frame_Transport_And_Schedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Related Transport and Schedule Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Transport_And_Schedule_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Transport_And_Schedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Related Transport And Schedule Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Transport_And_Schedule_Created_Successfully</name>
        <label>Is Transport And Schedule Created Successfully?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Transport and Schedule not Created</defaultConnectorLabel>
        <rules>
            <name>Yes_Transport_And_Schedule_Created_Successfully</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transportAndSchedule.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Order_has_related_Opportunity</targetReference>
            </connector>
            <label>Yes, Transport And Schedule Created Successfully</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Transport And Schedule Creation - mfg_Transport_And_Schedule_Creation{!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport And Schedule Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transport_And_Schedule</name>
        <label>Create Transport And Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Transport_And_Schedule_Created_Successfully</targetReference>
        </connector>
        <inputReference>transportAndSchedule</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Order_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Transport_And_Schedule</name>
        <label>Get Related Transport And Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Related_Transport_And_Schedule_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Related_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Transport_And_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Opportunity</name>
        <label>Update Related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>mfg_Transport_And_Schedule__c</field>
            <value>
                <elementReference>transportAndSchedule.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newTransportAndSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_And_Schedule__c</objectType>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transportAndSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_And_Schedule__c</objectType>
    </variables>
</Flow>
