MFG Ready Version/force-app/main/default/flows/mfg_Transport_Product_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Transport_Product_In_Collection_To_Insert</name>
        <label>Collect Transport Product In Collection To Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportProductsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>transportProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Transport_Product</name>
        <label>Frame Transport Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTransportProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Transport_And_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transportAndSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Product_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Transport_Product_In_Collection_To_Insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Related_Order_Id</name>
        <label>Get Related Order Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>relatedOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transportAndSchedule.mfg_Related_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_And_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Order_And_Order_Products</name>
        <label>Initiate Order And Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_And_Order_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_And_Order_Products.OrderItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Order_Products_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Transport_And_Schedule</name>
        <label>Initiate Transport And Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportAndSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transport_And_Schedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Related_Order_Populated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Order_Products_found</name>
        <label>Are Order Products found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Order Products are not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Order_products_are_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Order_Products</targetReference>
            </connector>
            <label>Yes, Order products are found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Transport_Products_To_Insert</name>
        <label>Are there Transport Products To Insert?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Transport Products are not there to insert</defaultConnectorLabel>
        <rules>
            <name>Yes_Transport_products_are_there_to_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transportProductsToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Transport_Products</targetReference>
            </connector>
            <label>Yes, Transport products are there to insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Related_Order_Populated</name>
        <label>Is Related Order Populated ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Related Order is Not Populated</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Order_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transportAndSchedule.mfg_Related_Order__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Order_Id</targetReference>
            </connector>
            <label>Yes, Related Order is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Transport_And_Schedule_Found</name>
        <label>Is Transport And Schedule Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Transport And Schedule Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Transport_And_Schedule_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transport_And_Schedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Transport_And_Schedule</targetReference>
            </connector>
            <label>Yes, Transport And Schedule Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Transport Product Creation - mfg_Transport_Product_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport Product Creation</label>
    <loops>
        <name>Iterate_Order_Products</name>
        <label>Iterate Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>orderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Frame_Transport_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_Transport_Products_To_Insert</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transport_Products</name>
        <label>Create Transport Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>transportProductsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_And_Order_Products</name>
        <label>Get Order And Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initiate_Order_And_Order_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <relatedRecords>
            <getFirstRecordOnly>false</getFirstRecordOnly>
            <queriedFields>EndDate</queriedFields>
            <queriedFields>Description</queriedFields>
            <queriedFields>ListPrice</queriedFields>
            <queriedFields>OrderId</queriedFields>
            <queriedFields>Id</queriedFields>
            <queriedFields>OrderItemNumber</queriedFields>
            <queriedFields>OriginalOrderItemId</queriedFields>
            <queriedFields>PricebookEntryId</queriedFields>
            <queriedFields>Product2Id</queriedFields>
            <queriedFields>Quantity</queriedFields>
            <queriedFields>mfg_Quantity_In_Production__c</queriedFields>
            <queriedFields>mfg_Quantity_Reserved__c</queriedFields>
            <queriedFields>ServiceDate</queriedFields>
            <queriedFields>TotalPrice</queriedFields>
            <queriedFields>UnitPrice</queriedFields>
            <relatedObject>OrderItem</relatedObject>
            <relationshipField>OrderItems</relationshipField>
        </relatedRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transport_And_Schedule</name>
        <label>Get Transport And Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Transport_And_Schedule_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Transport_And_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transport_And_Schedule</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newTransportProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_Product__c</objectType>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>orderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transportAndSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_And_Schedule__c</objectType>
    </variables>
    <variables>
        <name>transportProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_Product__c</objectType>
    </variables>
    <variables>
        <name>transportProductsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_Product__c</objectType>
    </variables>
</Flow>
