MFG Ready Version/force-app/main/default/flows/mfg_Sync_Production_Batch_Unit_With_Product_Batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Are_PBUs_Found</name>
        <label>Are PBUs Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, PBUs not found</defaultConnectorLabel>
        <rules>
            <name>Yes_PBUs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchUnits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frame_PBUS_To_Update</targetReference>
            </connector>
            <label>Yes, PBUs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Batch_Param_Populated</name>
        <label>Is Production Batch Param Populated ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Batch Input Param Not Populated</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_Input_Param_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatch.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productionBatch</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Production_Batch_Units_PBU</targetReference>
            </connector>
            <label>Yes, Production Batch Input Param Populated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync Production Batch Unit With Production Batch - mfg_Sync_Production_Batch_Unit_With_Product_Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Production Batch Unit With Production Batch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Production_Batch_Units_PBU</name>
        <label>Get Production Batch Units (PBU)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_PBUs_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Production_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productionBatch.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>mfg_Quality_Check__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </filters>
        <object>mfg_Production_Batch_Unit__c</object>
        <outputReference>productionBatchUnits</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>mfg_Status__c</queriedFields>
        <queriedFields>mfg_Quality_Check__c</queriedFields>
        <queriedFields>mfg_Production_Batch__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_PBUs</name>
        <label>Update PBUs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Frame_PBUS_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Production_Batch_Param_Populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Frame_PBUS_To_Update</name>
        <label>Frame PBUS To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_PBUs</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>productionBatchUnits[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>mfg_Quality_Check__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>qualityCheckPassed</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>productionBatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>qualityCheckPassed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Passed</stringValue>
        </value>
    </variables>
</Flow>
