MFG Ready Version/force-app/main/default/flows/mfg_Create_Order_Quick_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Flow_Access_Allowed</name>
        <label>Is Flow Access Allowed ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Flow Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Flow_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.mfg_Activate_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Creation_Confirmation</targetReference>
            </connector>
            <label>Flow Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Created</name>
        <label>Is Order Created ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>User_Failure_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mfg_Order_Creation.IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Success_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Order Quick Action - mfg_Create_Order_Quick_Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Order - Quick Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Order_Creation_Confirmation</name>
        <label>Order Creation Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>mfg_Order_Creation</targetReference>
        </connector>
        <fields>
            <name>confirmationMessageBody</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Initiating the creation of &lt;strong&gt;Order&lt;/strong&gt; using the &lt;strong&gt;synced Quote&lt;/strong&gt; for this Opportunity.&lt;/li&gt;&lt;li&gt;Please take a moment to review the Quote to make sure everything is as expected.&lt;/li&gt;&lt;li&gt;The &lt;strong&gt;products, quantities, and pricing&lt;/strong&gt; from the Quote will be used to build the Order and its Order Products.&lt;/li&gt;&lt;li&gt;Once created, this Order will be the &lt;strong&gt;finaled order for this Opportunity&lt;/strong&gt;.&lt;/li&gt;&lt;li&gt;Click &lt;strong&gt;Proceed&lt;/strong&gt; to continue.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Failure_Message</name>
        <label>User Failure Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>User_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 11, 11);&quot;&gt;{!mfg_Order_Creation.Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Success_Message</name>
        <label>User Success Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(25, 224, 14);&quot;&gt;&lt;em&gt;{!mfg_Order_Creation.Message}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Flow_Access_Allowed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>It’s an auto-launched flow that receives an Opportunity or Quote record ID, creates an Order based on it, and then returns the Order ID, a success message, and a boolean indicating whether the operation was successful.</description>
        <name>mfg_Order_Creation</name>
        <label>Order Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Order_Created</targetReference>
        </connector>
        <flowName>mfg_Order_Creation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
