MFG Ready Version/force-app/main/default/flows/mfg_Order_Execution_Inventory_Production_And_Transport.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Inventory_Reserved_Quantity</name>
        <label>Add Inventory Reserved Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventoryReservedQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Filtered_Production_Batch_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Production_Order_In_Collection</name>
        <label>Add Production Order In Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productionOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Available_Quantity_In_Inventory_is_greater_than_zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Dummy_Inventories_In_Collection</name>
        <label>Collect Dummy Inventories In Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>dummyInventoriesToProcess</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dummyInventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Order_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Production_Batch_units_in_collection_to_update</name>
        <label>Collect Production Batch units in collection to update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnitsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productionBatchUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Inventory_Reserved_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Dummy_Inventory_To_Update_Production_Batch_Units_With_Full_Quantity</name>
        <label>Frame Dummy Inventory To Update Production Batch Units With Full Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>dummyInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newInventory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dummyInventory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filteredInventoryBasedonStorageWarehouseAndProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dummyInventory.mfg_Reserved_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storageInventoryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filteredInventoryBasedonStorageWarehouseAndProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dummyInventory.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Dummy_Inventories_In_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Dummy_Inventory_To_Update_Production_Batch_Units_With_Partial_Quantity</name>
        <label>Frame Dummy Inventory To Update Production Batch Units With Partial Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>dummyInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newInventory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dummyInventory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filteredInventoryBasedonStorageWarehouseAndProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dummyInventory.mfg_Reserved_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filteredInventoryBasedonStorageWarehouseAndProduct.mfg_Available_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storageInventoryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>filteredInventoryBasedonStorageWarehouseAndProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dummyInventory.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Collect_Dummy_Inventories_In_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Production_batch_Units_to_update</name>
        <label>Frame Production batch Units to update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProductionBatchUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatchUnit.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Filtered_Production_Batch_Units.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatchUnit.mfg_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Dummy_Inventories.mfg_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatchUnit.mfg_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reserved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Production_Batch_units_in_collection_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Production_Order</name>
        <label>Frame Production Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Order_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Order_products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Quantity_Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateProductQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Is_Customer_Driven__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrder.mfg_Warehouse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionWarehouse.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Production_Order_In_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Order</name>
        <label>Initialize Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Order_products</name>
        <label>Initialize Order products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>orderProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Order_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductIds_From_Order_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Production_Warehouse</name>
        <label>Initialize Production Warehouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionWarehouse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Warehouse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Order_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Filtered_Inventory_Basedon_StorageWarehouse_and_Product</name>
        <label>Initiate Filtered Inventory Basedon StorageWarehouse and Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>filteredInventoryBasedonStorageWarehouseAndProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Filtered_Inventories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Filtered_Inventories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_InventoriesRelatedToStorageWarehouseAndProducts</name>
        <label>Initiate InventoriesRelatedToStorageWarehouseAndProducts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventoriesRelatedToStorageWarehouseAndProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventories_Related_To_Storage_Warehouse_And_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Production_Warehouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_inventory_Reserved_Quantity_as_Zero</name>
        <label>Initiate inventory Reserved Quantity as Zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventoryReservedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZERO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Production_Batch_Units_Based_On_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Production_Batch_Units</name>
        <label>Initiate Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Batch_Units</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Dummy_Inventories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Inventory_Reserved_Quantity</name>
        <label>Reset Inventory Reserved Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventoryReservedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZERO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Iterate_Dummy_Inventories</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Inventories_Basedon_Each_Order_Product</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Inventories Basedon Each Order Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Inventories_Basedon_Each_Order_Product</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>inventoriesRelatedToStorageWarehouseAndProducts</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Inventories_Basedon_Each_Order_Product.mfg_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Order_products.Product2Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Filtered_Inventories</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Production_Batch_Units_Based_On_Inventory</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Production Batch Units Based On Inventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Production_Batch_Units_Based_On_Inventory</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>productionBatchUnits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Production_Batch_Units_Based_On_Inventory.mfg_Inventory__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Dummy_Inventories.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Filtered_Production_Batch_Units</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Inventories_Related_To_Storage_Warehouse_and_Product_Found</name>
        <label>Are Inventories Related To Storage Warehouse and Product Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No,Inventories Related To Storage Warehouse and Products Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventories_Related_To_Storage_Warehouse_and_Products_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventories_Related_To_Storage_Warehouse_And_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_InventoriesRelatedToStorageWarehouseAndProducts</targetReference>
            </connector>
            <label>Yes, Inventories Related To Storage Warehouse and Products Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Production_Batch_Units_Found</name>
        <label>Are Production Batch Units Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Batch Units Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_Units_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Batch_Units</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Production Batch Units Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_the_Dummy_Inventories_Framed</name>
        <label>Are the Dummy Inventories Framed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Dummy Inventories Not Framed</defaultConnectorLabel>
        <rules>
            <name>yes_Dummy_inventories_Framed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dummyInventoriesToProcess</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Production_Batch_Units</targetReference>
            </connector>
            <label>yes, Dummy inventories Framed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_the_sufficient_Production_batch_units_reserved</name>
        <label>Are the sufficient Production batch units reserved ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Frame_Production_batch_Units_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Sufficient Production batch Units are not reserved</defaultConnectorLabel>
        <rules>
            <name>yes_Sufficient_Production_batch_Units_are_reserved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Dummy_Inventories.mfg_Reserved_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>inventoryReservedQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Inventory_Reserved_Quantity</targetReference>
            </connector>
            <label>yes, Sufficient Production batch Units are reserved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_production_batch_Units_to_update</name>
        <label>Are there production batch Units to update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production batch Units are not there to update</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_batch_Units_are_there_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchUnitsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Production batch Units are there to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Production_Warehouse_Found</name>
        <label>Does Production Warehouse Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Warehouse Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Warehouse_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Warehouse.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Production_Warehouse</targetReference>
            </connector>
            <label>Yes, Production Warehouse Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Production_Order_Collection_contain_records_to_create</name>
        <label>Does the Production Order Collection contain records to create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Are_the_Dummy_Inventories_Framed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, It has no records</defaultConnectorLabel>
        <rules>
            <name>Yes_It_has_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionOrders</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Production_Order</targetReference>
            </connector>
            <label>Yes, It has records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Available_Quantity_In_Inventory_is_greater_than_zero</name>
        <label>Is Available Quantity In Inventory is greater than zero?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterate_Order_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Available Quantity in inventory is not greater than zero</defaultConnectorLabel>
        <rules>
            <name>Yes_Available_Quantity_in_inventory_is_greater_than_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>filteredInventoryBasedonStorageWarehouseAndProduct.mfg_Available_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frame_Dummy_Inventory_To_Update_Production_Batch_Units_With_Partial_Quantity</targetReference>
            </connector>
            <label>Yes, Available Quantity in inventory is greater than zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Found_And_Activated</name>
        <label>Is Order Found And Activated ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found or Not Activated</defaultConnectorLabel>
        <rules>
            <name>Found_and_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Order</targetReference>
            </connector>
            <label>Found and Activated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Product_Quantity_in_Stock</name>
        <label>Is Order Product Quantity in Stock</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Frame_Production_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Out Of Stock</defaultConnectorLabel>
        <rules>
            <name>Yes_In_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Order_products.Quantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>filteredInventoryBasedonStorageWarehouseAndProduct.mfg_Available_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frame_Dummy_Inventory_To_Update_Production_Batch_Units_With_Full_Quantity</targetReference>
            </connector>
            <label>Yes, In Stock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Related_Order_products_Found</name>
        <label>Is Related Order products Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Order_Products</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Order_products</targetReference>
            </connector>
            <label>Yes, Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calculateProductQuantity</name>
        <dataType>Number</dataType>
        <expression>( 
BLANKVALUE({!Iterate_Order_products.Quantity}, 0)
- 
BLANKVALUE({!filteredInventoryBasedonStorageWarehouseAndProduct.mfg_Available_Quantity__c}, 0)
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Order Execution – Inventory, Production And Transport - mfg_Order_Execution_Inventory_Production_And_Transport  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Execution – Inventory, Production And Transport</label>
    <loops>
        <name>Iterate_Dummy_Inventories</name>
        <label>Iterate Dummy Inventories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>dummyInventoriesToProcess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initiate_inventory_Reserved_Quantity_as_Zero</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_production_batch_Units_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Filtered_Inventories</name>
        <label>Iterate Filtered Inventories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Inventories_Basedon_Each_Order_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initiate_Filtered_Inventory_Basedon_StorageWarehouse_and_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Order_Product_Quantity_in_Stock</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Filtered_Production_Batch_Units</name>
        <label>Iterate Filtered Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Production_Batch_Units_Based_On_Inventory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Are_the_sufficient_Production_batch_units_reserved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Dummy_Inventories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Order_products</name>
        <label>Iterate Order products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>orderProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Inventories_Basedon_Each_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_the_Production_Order_Collection_contain_records_to_create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Production_Order</name>
        <label>Create Production Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_the_Dummy_Inventories_Framed</targetReference>
        </connector>
        <inputReference>productionOrders</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Inventories_Related_To_Storage_Warehouse_And_Products</name>
        <label>Get Inventories Related To Storage Warehouse And Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Inventories_Related_To_Storage_Warehouse_and_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.mfg_Storage_Warehouse__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>mfg_Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductIds_From_Order_Products</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Inventory__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Order_Found_And_Activated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Production_Batch_Units</name>
        <label>Get Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Production_Batch_Units_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Inventory__c</field>
            <operator>In</operator>
            <value>
                <elementReference>storageInventoryIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>mfg_Order_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Passed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Production_Batch_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Production_Warehouse</name>
        <label>Get Production Warehouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Production_Warehouse_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Production</stringValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Warehouse_Linking_Code__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>order.mfg_Storage_Warehouse__r.mfg_Warehouse_Linking_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Warehouse__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Order_Products</name>
        <label>Get Related Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Related_Order_products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <sortField>OrderItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Production_Batch_Units</name>
        <label>Update Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>productionBatchUnitsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <transforms>
        <name>ProductIds_From_Order_Products</name>
        <label>ProductIds From Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inventories_Related_To_Storage_Warehouse_And_Products</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>orderProducts[$EachItem].Product2Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Filter_Inventories_Basedon_Each_Order_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Inventories_To_Reduce</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Production_Batch_Units_Based_On_Inventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>debug</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dummyInventoriesToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>dummyInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>filteredInventoryBasedonStorageWarehouseAndProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>inventoriesRelatedToStorageWarehouseAndProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>inventoryReservedQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>isExactInvenotryFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>newProductionBatchUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>orderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>productIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productionBatchUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnitsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Order__c</objectType>
    </variables>
    <variables>
        <name>productionOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Order__c</objectType>
    </variables>
    <variables>
        <name>productionWarehouse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Warehouse__c</objectType>
    </variables>
    <variables>
        <name>ProductProductionBatchCapacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>productProductionQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storageInventoryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
