MFG Ready Version/force-app/main/default/flows/mfg_Order_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Order_Product_In_List_To_Create</name>
        <label>Add Order Product In List To Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_to_a_record_Variable_Opportunity</name>
        <label>Assign Opportunity to a record Variable - Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Synced_Quote_From_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_to_a_record_Variable_Quote</name>
        <label>Assign Quote to a record Variable - Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Quote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_Opportunity_to_a_Record_Variable_Opportunity</name>
        <label>Assign Related Opportunity to a Record Variable - Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frame_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Synced_Quote_to_a_record_Variable_Quote</name>
        <label>Assign Synced Quote to a record Variable - Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Quote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Synced_Quote_From_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frame_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Notification_and_OrderId_Order</name>
        <label>Assign User Notification and OrderId - Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSuccessMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_User_Notification_Contract</name>
        <label>Assign User Notification - Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Frame_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Notification_Opportunity_Not_Found</name>
        <label>Assign User Notification - Opportunity Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityNotFoundMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_User_Notification_Order</name>
        <label>Assign User Notification - Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Frame_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Notification_Related_Opportunity_Not_Found</name>
        <label>Assign User Notification - Related Opportunity Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RelatedOpportunityNotFoundMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_User_Notification_Synced_Quote_Not_Found</name>
        <label>Assign User Notification - Synced Quote Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SyncedQuoteNotFoundMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_User_Notifications_Existing_Opportunity</name>
        <label>Assign User Notifications - Existing Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frame_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Notifications_Order_Products</name>
        <label>Assign User Notifications - Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Frame_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Contract</name>
        <label>Frame Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Contract.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote.Opportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contract.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractTerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Existing_Opportunity</name>
        <label>Frame Existing Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToUpdate.mfg_Synced_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Related_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Log</name>
        <label>Frame Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Log.mfg_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Logged_By_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Occurred_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Log.mfg_Source_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Order</name>
        <label>Frame Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Order.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Order_Product</name>
        <label>Frame Order Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Quote_Line_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Quote_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Quote_Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Order_Product_In_List_To_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Order_Product</name>
        <label>Reset Order Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Default Contract Term in months</description>
        <name>ContractTerm</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Opportunity_Found</name>
        <label>Is Opportunity Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_User_Notification_Opportunity_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Not Found</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_to_a_record_Variable_Opportunity</targetReference>
            </connector>
            <label>Opportunity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Quote_Found</name>
        <label>Is Quote Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote Not Found</defaultConnectorLabel>
        <rules>
            <name>Quote_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_to_a_record_Variable_Quote</targetReference>
            </connector>
            <label>Quote Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Related_Opportunity_Found</name>
        <label>Is Related Opportunity Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_User_Notification_Related_Opportunity_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Related Opportunity Not Found</defaultConnectorLabel>
        <rules>
            <name>Related_Opportunity_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Related_Opportunity_to_a_Record_Variable_Opportunity</targetReference>
            </connector>
            <label>Related Opportunity Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Synced_Quote_From_Opportunity_Found</name>
        <label>Is Synced Quote From Opportunity Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_User_Notification_Synced_Quote_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Synced Quote Not Found</defaultConnectorLabel>
        <rules>
            <name>Synced_Quote_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Synced_Quote_From_Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Synced_Quote_to_a_record_Variable_Quote</targetReference>
            </connector>
            <label>Synced Quote Found</label>
        </rules>
    </decisions>
    <description>This is a Auto-Launched Flow.
Upon initiation, the flow retrieves a quote using the provided record ID. If the quote is found and meets certain conditions, it proceeds to check for a related opportunity. If the opportunity is found and is in the &apos;Order&apos; stage, the flow creates a contract and an order. It then iterates through the quote line items to create order products. Finally, it updates the related opportunity with the newly created order ID.</description>
    <environments>Default</environments>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Unit Price calculation to store this value in Order product. Calculation values are taken from Quote Line Item.</description>
        <name>UnitPrice</name>
        <dataType>Number</dataType>
        <expression>IF(
    ISBLANK({!Iterate_Quote_Line_Items.UnitPrice}),
    0,
    {!Iterate_Quote_Line_Items.UnitPrice}
)
-
(
    IF(
        ISBLANK({!Iterate_Quote_Line_Items.UnitPrice}),
        0,
        {!Iterate_Quote_Line_Items.UnitPrice}
    ) *
    (
        IF(
            ISBLANK({!Iterate_Quote_Line_Items.Discount}),
            0,
            {!Iterate_Quote_Line_Items.Discount}
        ) / 100
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Order Creation - mfg_Order_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Creation</label>
    <loops>
        <description>Iterating Quote Line Items which is products associated with Quotes to frame a Order products.</description>
        <name>Iterate_Quote_Line_Items</name>
        <label>Iterate Quote Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_QuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Frame_Order_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Frame_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_User_Notification_Contract</targetReference>
        </faultConnector>
        <inputReference>Contract</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Log</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_QuoteLineItems</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_User_Notification_Order</targetReference>
        </faultConnector>
        <inputReference>Order</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Frame_Existing_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_User_Notifications_Order_Products</targetReference>
        </faultConnector>
        <inputReference>OrderProducts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SyncedQuoteId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Quote_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunity</name>
        <label>Get Related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Related_Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SyncedQuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SyncedQuoteId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_QuoteLineItems</name>
        <label>Get Related QuoteLineItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Quote_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Synced_Quote_From_Opportunity</name>
        <label>Get Synced Quote From Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Synced_Quote_From_Opportunity_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Related_Opportunity</name>
        <label>Update Existing Related Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_User_Notification_and_OrderId_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_User_Notifications_Existing_Opportunity</targetReference>
        </faultConnector>
        <inputReference>OpportunityToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OpportunityNotFoundMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The provided record ID is invalid, or the associated Opportunity is not in the Order stage.&lt;/p&gt;&lt;p&gt;&amp;nbsp;Please confirm the record details and ensure the Opportunity meets the required stage criteria.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>OrderSuccessMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!OrderId} Order Created Successfully.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RelatedOpportunityNotFoundMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The Quote is either not synced with an Opportunity or the associated Opportunity is not in the Order stage.&lt;/p&gt;&lt;p&gt;Please verify the synchronization and stage before proceeding with Order creation.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SyncedQuoteNotFoundMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The related Opportunity does not have a synced Quote in the Quote Accepted stage.&lt;/p&gt;&lt;p&gt;Please ensure a synced Quote exists and is in the correct stage before proceeding.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <description>If the Order creation is Successful then IsSuccess is true else false</description>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>To Store Error Message while doing Dml</description>
        <name>Log</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Log__c</objectType>
    </variables>
    <variables>
        <description>To Store the error message or success message to intimate the users.</description>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>This variable is used to store the newly created order record Id</description>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
