MFG Ready Version/force-app/main/default/flows/mfg_Transport_Schedule_And_Transport_Products_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Frame_Transport_Product_And_Add_It_In_Collection_To_Update</name>
        <label>Frame Transport Product And Add It In Collection To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Transport_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProduct.mfg_Product_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportProductsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>transportProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportScheduleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Transport_Products.mfg_Transport_And_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Transport_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Transport_Schedule_To_Update_Product_Status</name>
        <label>Frame Transport Schedule To Update Product Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportScheduleToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transportScheduleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transportScheduleToUpdate.mfg_Product_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for Collection</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Transport_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Production_Order</name>
        <label>Initiate Production Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Production_Order_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Transport_Products</name>
        <label>Initiate Transport Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Transport_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Transport_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Related_Transport_Products_Found</name>
        <label>Are Related Transport Products Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Related Transport Porducts Are Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Transport_Products_Are_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Transport_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Transport_Products</targetReference>
            </connector>
            <label>Yes, Related Transport Products Are Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Transport_Product_records_to_update</name>
        <label>Are Transport Product records to update ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Transport products are not there to update</defaultConnectorLabel>
        <rules>
            <name>Yes_Trasnport_Products_are_there_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transportProductsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transport_Products</targetReference>
            </connector>
            <label>Yes, Trasnport Products are there to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Order_Completed</name>
        <label>Is Production Order Completed ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Order is not Completed</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Order_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionOrder.mfg_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Transport_Product</targetReference>
            </connector>
            <label>Yes, Production Order is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Order_Found</name>
        <label>Is Production Order Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Order Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Production_Order</targetReference>
            </connector>
            <label>Yes, Production Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Transport_Products_In_Production_Related_To_Transport_Schedule</name>
        <label>Is Transport Products In Production Related To Transport Schedule ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Frame_Transport_Schedule_To_Update_Product_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Transport Products In Production are not there</defaultConnectorLabel>
        <rules>
            <name>Yes_Transport_Products_In_Production_are_there</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transport_Products_Related_To_Transport_Schedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Transport Products  In Production are there</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Transport Schedule And Transport Products Sync - mfg_Transport_Schedule_And_Transport_Products_Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport Schedule And Transport Products Sync</label>
    <loops>
        <name>Iterate_Transport_Products</name>
        <label>Iterate Transport Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>transportProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Frame_Transport_Product_And_Add_It_In_Collection_To_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_Transport_Product_records_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Production_Order</name>
        <label>Get Production Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Production_Order_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Production_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Transport_Product</name>
        <label>Get Related Transport Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Related_Transport_Products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Production_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productionOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>mfg_Product_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Production</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Transport_Product__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transport_Products_Related_To_Transport_Schedule</name>
        <label>Get Transport Products Related To Transport Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Transport_Products_In_Production_Related_To_Transport_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Transport_And_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transportScheduleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>mfg_Product_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Transport_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Transport_Products</name>
        <label>Update Transport Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transport_Products_Related_To_Transport_Schedule</targetReference>
        </connector>
        <inputReference>transportProductsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transport_Schedule</name>
        <label>Update Transport Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>transportScheduleToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Production_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>productionOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Order__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transportProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_Product__c</objectType>
    </variables>
    <variables>
        <name>transportProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_Product__c</objectType>
    </variables>
    <variables>
        <name>transportProductsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_Product__c</objectType>
    </variables>
    <variables>
        <name>transportScheduleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transportScheduleToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_And_Schedule__c</objectType>
    </variables>
</Flow>
