MFG Ready Version/force-app/main/default/flows/mfg_Sync_Order_Product_With_Production_Batch_Unit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_In_Production_Production_Batch_Units_Count</name>
        <label>Assign In Production Production Batch Units Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inProductionProductionBatchUnitsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Collect_In_Production_Production_Batch_Units</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_In_Production_Production_Batch_Units_Count_Equals_Zero</name>
        <label>Assign In Production Production Batch Units Count Equals Zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inProductionProductionBatchUnitsCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZERO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reserved_Production_Batch_Units_Count</name>
        <label>Assign Reserved Production Batch Units Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>reservedProductionBatchUnitsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Collect_Reserved_Production_Batch_Units</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_In_Production_Production_Batch_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reserved_Production_Batch_Units_Count_equals_Zero</name>
        <label>Assign Reserved Production Batch Units Count equals Zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>reservedProductionBatchUnitsCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZERO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_In_Production_Production_Batch_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Order_product_And_Related_Production_Batch_Units</name>
        <label>Initiate Order product And Related Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>orderProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_And_Related_Production_Batch_Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatchUnits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Product_And_Related_Production_Batch_Units.Production_Batch_Units__r</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Related_Production_Batch_Units_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Production_Batch_Unit</name>
        <label>Initiate Production Batch Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Batch_Unit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Order_Product_Populated</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collect_In_Production_Production_Batch_Units</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collect In Production Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Collect_In_Production_Production_Batch_Units</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>productionBatchUnits</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collect_In_Production_Production_Batch_Units.mfg_Status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Reserved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Are_In_Production_Production_batch_Units_Found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Collect_Reserved_Production_Batch_Units</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collect Reserved Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Collect_In_Production_Production_Batch_Units</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>productionBatchUnits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collect_In_Production_Production_Batch_Units.mfg_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Reserved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Are_Reserved_Production_batch_Units_Found</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_In_Production_Production_batch_Units_Found</name>
        <label>Are In Production Production batch Units Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_In_Production_Production_Batch_Units_Count_Equals_Zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, In Production production Batch Units are not found</defaultConnectorLabel>
        <rules>
            <name>Yes_In_production_production_batch_units_are_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_In_Production_Production_Batch_Units</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_In_Production_Production_Batch_Units_Count</targetReference>
            </connector>
            <label>Yes, In production production batch units are found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Related_Production_Batch_Units_Found</name>
        <label>Are Related Production Batch Units Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Related Production Batch Units Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Production_Batch_Units_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchUnits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Reserved_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Related Production Batch Units Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Reserved_Production_batch_Units_Found</name>
        <label>Are Reserved Production batch Units Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Reserved_Production_Batch_Units_Count_equals_Zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Reserved production Batch Units are not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Reserved_production_batch_units_are_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_Reserved_Production_Batch_Units</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reserved_Production_Batch_Units_Count</targetReference>
            </connector>
            <label>Yes, Reserved production batch units are found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Product_Found</name>
        <label>Is Order Product Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Order Product Not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Order_product_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product_And_Related_Production_Batch_Units.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Order_product_And_Related_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Order product Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_Product_Populated</name>
        <label>Is Order Product Populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Order product is not populated</defaultConnectorLabel>
        <rules>
            <name>Yes_Order_Product_Is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchUnit.mfg_Order_Product__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Product_And_Related_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Order Product Is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Batch_Unit_Found</name>
        <label>Is Production Batch Unit Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Batch Unit Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_Unit_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Batch_Unit.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Production_Batch_Unit</targetReference>
            </connector>
            <label>Yes, Production Batch Unit Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync Order Product With Production Batch Unit - mfg_Sync_Order_Product_With_Production_Batch_Unit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Order Product With Production Batch Unit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Product_And_Related_Production_Batch_Units</name>
        <label>Get Order Product And Related Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Order_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productionBatchUnit.mfg_Order_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>mfg_Quantity_In_Production__c</queriedFields>
        <queriedFields>mfg_Quantity_Reserved__c</queriedFields>
        <relatedRecords>
            <getFirstRecordOnly>false</getFirstRecordOnly>
            <queriedFields>mfg_Asset__c</queriedFields>
            <queriedFields>mfg_Inventory__c</queriedFields>
            <queriedFields>mfg_Order_Product__c</queriedFields>
            <queriedFields>mfg_Product__c</queriedFields>
            <queriedFields>mfg_Production_Batch__c</queriedFields>
            <queriedFields>Id</queriedFields>
            <queriedFields>mfg_Status__c</queriedFields>
            <queriedFields>mfg_Transport_Product__c</queriedFields>
            <relatedObject>mfg_Production_Batch_Unit__c</relatedObject>
            <relationshipField>Production_Batch_Units__r</relationshipField>
        </relatedRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Production_Batch_Unit</name>
        <label>Get Production Batch Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Production_Batch_Unit_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Production_Batch_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Product</name>
        <label>Update Order Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderProduct.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>mfg_Quantity_In_Production__c</field>
            <value>
                <elementReference>inProductionProductionBatchUnitsCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mfg_Quantity_Reserved__c</field>
            <value>
                <elementReference>reservedProductionBatchUnitsCount</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Production_Batch_Unit</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Collect_In_Production_Production_Batch_Units</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>inProductionProductionBatchUnitsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>orderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>productionBatchUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reservedProductionBatchUnitsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
