MFG Ready Version/force-app/main/default/flows/mfg_Production_Batch_Unit_To_Asset_Convertion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Frame_Asset</name>
        <label>Frame Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>asset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAsset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset.mfg_Production_Batch_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatchUnit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatchUnit.mfg_Order_Product__r.Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatchUnit.mfg_Order_Product__r.Order.Account.mfg_Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatchUnit.mfg_Order_Product__r.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ONE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset.PurchaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>purchasedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatchUnit.mfg_Order_Product__r.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatchUnit.mfg_Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>asset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_ProductionBatchUnit</name>
        <label>Initiate ProductionBatchUnit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Batch_Unit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Production_Batch_Unit_Status_is_Delivered</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ONE</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Asset_Created_Successfully</name>
        <label>Is Asset Created Successfully?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Asset Is not Created</defaultConnectorLabel>
        <rules>
            <name>Yes_Asset_Created_Successfully</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Production_Batch_Unit</targetReference>
            </connector>
            <label>Yes, Asset Created Successfully</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Asset_not_generated_for_this_Production_batch_Unit</name>
        <label>Is Asset not generated for this Production batch Unit?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Asset is already generated for this Production batch unit</defaultConnectorLabel>
        <rules>
            <name>Yes_Asset_is_not_generated_for_this_Production_batch_unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Asset</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frame_Asset</targetReference>
            </connector>
            <label>Yes, Asset is not generated for this Production batch unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Batch_Unit_Found</name>
        <label>Is Production Batch Unit Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_Unit_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Batch_Unit.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_ProductionBatchUnit</targetReference>
            </connector>
            <label>Yes, Production Batch Unit Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Batch_Unit_Status_is_Delivered</name>
        <label>Is Production Batch Unit Status is Delivered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Status is not Delivered</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_is_Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchUnit.mfg_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Asset</targetReference>
            </connector>
            <label>Yes, Status is Delivered</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>purchasedDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!productionBatchUnit.mfg_Order_Product__r.CreatedDate})</expression>
    </formulas>
    <interviewLabel>Production Batch Unit To Asset Convertion - mfg_Production_Batch_Unit_To_Asset_Convertion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Production Batch Unit To Asset Convertion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assets</name>
        <label>Create Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Asset_Created_Successfully</targetReference>
        </connector>
        <inputReference>asset</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Production_Batch_Unit</name>
        <label>Get Production Batch Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Production_Batch_Unit_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Production_Batch_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Asset</name>
        <label>Get Related Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Asset_not_generated_for_this_Production_batch_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Production_Batch_Unit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Production_Batch_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productionBatchUnit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Production_Batch_Unit</name>
        <label>Update Production Batch Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productionBatchUnit.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>mfg_Asset__c</field>
            <value>
                <elementReference>asset.Id</elementReference>
            </value>
        </inputAssignments>
        <object>mfg_Production_Batch_Unit__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Production_Batch_Unit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>newAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>productionBatchUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
