MFG Ready Version/force-app/main/default/flows/mfg_Asset_Sync_From_Production_Batch_Unit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Asset_In_Collection_To_Update</name>
        <label>Collect Asset In Collection To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>assetsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assetToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_the_assets_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Asset_To_Update</name>
        <label>Frame Asset To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>assetToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newAsset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>asset.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToUpdate.InstallDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Asset_In_Collection_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Asset</name>
        <label>Initiate Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>asset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frame_Asset_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Production_Batch_Unit</name>
        <label>Initiate Production Batch Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Batch_Unit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Production_Batch_Unit_Status_is</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_the_assets_to_update</name>
        <label>Are the assets to update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Assets are not there to update</defaultConnectorLabel>
        <rules>
            <name>Yes_Assets_are_there_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assetsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset</targetReference>
            </connector>
            <label>Yes, Assets are there to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Production_Batch_Unit_Status_is</name>
        <label>If Production Batch Unit Status is</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Installed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchUnit.mfg_Status__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productionBatchUnit.mfg_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Asset</targetReference>
            </connector>
            <label>Installed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Batch_Unit_Found</name>
        <label>Is Production Batch Unit Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Batch Unit Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_Unit_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Batch_Unit.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Production_Batch_Unit</targetReference>
            </connector>
            <label>Yes, Production Batch Unit Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Related_Asset_Found</name>
        <label>Is Related Asset Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Related Asset Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Asset_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Asset.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Asset</targetReference>
            </connector>
            <label>Yes, Related Asset Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Asset Sync From Production Batch Unit - mfg_Asset_Sync_From_Production_Batch_Unit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Sync From Production Batch Unit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Production_Batch_Unit</name>
        <label>Get Production Batch Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Production_Batch_Unit_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Production_Batch_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Asset</name>
        <label>Get Related Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Related_Asset_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Production_Batch_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productionBatchUnit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>assetsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Production_Batch_Unit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>newAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>productionBatchUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
