MFG Ready Version/force-app/main/default/flows/mfg_Create_Sales_Agreement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Create_Sales_Agreement_Automatically_Action_1</name>
        <label>Create Sales Agreement Automatically Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MFG_SalesAgreementHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_created</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>activationDate</name>
            <value>
                <elementReference>Activation_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scheduleCount</name>
            <value>
                <elementReference>Schedule_count</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scheduleFrequency</name>
            <value>
                <elementReference>Schedule_Frequency</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MFG_SalesAgreementHandler</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_created</name>
        <label>Is created?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Sales_Agreement_Automatically_Action_1.salesAgreementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success</targetReference>
            </connector>
            <label>Yes,Created</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ScheduleFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>mfg_Schedule_Frequency__c</picklistField>
        <picklistObject>mfg_Sales_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Sales Agreement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Sales Agreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Create_Sales_Agreement</name>
        <label>Create Sales Agreement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Sales_Agreement_Automatically_Action_1</targetReference>
        </connector>
        <fields>
            <name>Schedule_Frequency</name>
            <choiceReferences>ScheduleFrequency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Schedule Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Choose how often the system should create schedule lines for this agreement.&lt;/p&gt;&lt;p&gt;This sets the delivery or consumption cycle (daily, weekly, monthly, etc.).&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Schedule_count</name>
            <dataType>Number</dataType>
            <fieldText>Schedule count</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Choose the total number of schedule periods you want.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The system will split the total quantity across these periods.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Activation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Activation Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Choose the date when schedule generation starts.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExpiryDateNote</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Note:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Expiry Date&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; derives automatically from the Activation Date. The system applies the chosen Schedule Frequency for the number of intervals defined in Schedule Count to determine the final &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Expiry Date&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;You can create a Sales Agreement from an &lt;strong&gt;Opportunity&lt;/strong&gt; or an &lt;strong&gt;Account&lt;/strong&gt;.&lt;/li&gt;&lt;li&gt;When created from an &lt;strong&gt;Opportunity&lt;/strong&gt;, the system uses the &lt;strong&gt;Synced Order&lt;/strong&gt; to automatically add the Agreement Products.&lt;/li&gt;&lt;li&gt;When created from an &lt;strong&gt;Account&lt;/strong&gt;, only the &lt;strong&gt;Sales Agreement&lt;/strong&gt; is created, and Agreement Products must be added manually afterward.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(224, 14, 14); font-size: 16px;&quot;&gt;{!Create_Sales_Agreement_Automatically_Action_1.errorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sucess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(6, 170, 36);&quot;&gt;The Sales Agreement “{!Create_Sales_Agreement_Automatically_Action_1.salesAgreementName}” is now successfully created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Sales_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
