MFG Ready Version/force-app/main/default/flows/mfg_Inventory_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_UserNotification_If_Invalid_Object_Type</name>
        <label>Assign UserNotification - If Invalid Object Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>userNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invalidObjectTypeNotification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_UserNotification_If_Inventories_Creation_Failed</name>
        <label>Assign UserNotification - If Inventories Creation Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>userNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inventoriesCreationFailedNotification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_UserNotification_If_Inventory_is_not_there_to_Insert</name>
        <label>Assign UserNotification - If Inventory is not there to Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>userNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inventoryIsNotThereToInsertNotification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_UserNotification_If_ObjectType_Or_RecordId_is_not_populated</name>
        <label>Assign UserNotification - If ObjectType Or RecordId is not populated.</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>userNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objectTypeOrRecordIdIsNotPopulatedNotification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_UserNotification_If_Products_Not_Found</name>
        <label>Assign UserNotification - If Products Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>userNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productNotFoundNotification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_UserNotification_If_Storage_Warehouse_Not_Found</name>
        <label>Assign UserNotification - If Storage Warehouse Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>userNotification</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storageWarehouseNotFoundNotification</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Initiate_Inventories_From_Products_To_Insert</name>
        <label>Initiate Inventories From Products To Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventoriesToInsert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frame_Inventories_From_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Inventories_to_insert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Inventories_From_Warehouses_To_Insert</name>
        <label>Initiate Inventories From Warehouses To Insert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventoriesToInsert</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frame_Inventories_To_Insert_From_Warehouses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Inventories_to_insert</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PRODUCT_OBJECT_TYPE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>product</stringValue>
        </value>
    </constants>
    <constants>
        <name>WAREHOUSE_OBJECT_TYPE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>warehouse</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Products_Found</name>
        <label>Are Products Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_UserNotification_If_Products_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Products are not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Products_are_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frame_Inventories_From_Products</targetReference>
            </connector>
            <label>Yes, Products are found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Storage_Warehouse_Found</name>
        <label>Are Storage Warehouse Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_UserNotification_If_Storage_Warehouse_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Storage Warehouse are not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Storage_Warehouses_are_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Storage_WareHouses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frame_Inventories_To_Insert_From_Warehouses</targetReference>
            </connector>
            <label>Yes, Storage Warehouses are found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_Inventories_to_insert</name>
        <label>Are there Inventories to insert ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_UserNotification_If_Inventory_is_not_there_to_Insert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Inventories are not there to insert</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventories_are_there_to_insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inventoriesToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Inventories</targetReference>
            </connector>
            <label>Yes, Inventories are there to insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_RecordId_And_ObjectType_Is_Populated</name>
        <label>Does RecordId And ObjectType Is Populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_UserNotification_If_ObjectType_Or_RecordId_is_not_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, RecordId and ObjectType is not Populated</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordId_and_ObjectType_is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Object_Type_is</targetReference>
            </connector>
            <label>Yes, RecordId and ObjectType is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Object_Type_is</name>
        <label>If Object Type is</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_UserNotification_If_Invalid_Object_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PRODUCT_OBJECT_TYPE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Storage_WareHouses</targetReference>
            </connector>
            <label>Product</label>
        </rules>
        <rules>
            <name>Warehouse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>WAREHOUSE_OBJECT_TYPE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Products</targetReference>
            </connector>
            <label>Warehouse</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Inventory Creation - mfg_Inventory_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Inventories</name>
        <label>Create Inventories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Assign_UserNotification_If_Inventories_Creation_Failed</targetReference>
        </faultConnector>
        <inputReference>inventoriesToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Products</name>
        <label>Get All Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Products_Found</targetReference>
        </connector>
        <object>Product2</object>
        <outputReference>allProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Storage_WareHouses</name>
        <label>Get All Storage WareHouses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Storage_Warehouse_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Storage</stringValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>mfg_Warehouse__c</object>
        <outputReference>allStorageWarehouses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>mfg_Type__c</queriedFields>
        <queriedFields>mfg_Is_Active__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_RecordId_And_ObjectType_Is_Populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>invalidObjectTypeNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(211, 143, 9);&quot;&gt;Invalid Object Type. Project And Storage Warehouse Object Types are supported.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>inventoriesCreationFailedNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(215, 0, 0); font-size: 14px;&quot;&gt;Error occured: Inventories Creation Failed.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>inventoryIsNotThereToInsertNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(111, 109, 109);&quot;&gt;Inventory is not there to Create!&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>objectTypeOrRecordIdIsNotPopulatedNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(105, 104, 104);&quot;&gt;Object Type Or Record Id is not Populated!&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>productNotFoundNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 144, 5); font-size: 14px;&quot;&gt;Product Not Found! So Inventory is Not Created.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>storageWarehouseNotFoundNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(231, 144, 5); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Storage Warehouse Not Found! So Inventory is Not Created.&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <transforms>
        <name>Frame_Inventories_From_Products</name>
        <label>Frame Inventories From Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initiate_Inventories_From_Products_To_Insert</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>mfg_Inventory__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>mfg_Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>allProducts[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>mfg_Warehouse__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Frame_Inventories_To_Insert_From_Warehouses</name>
        <label>Frame Inventories To Insert From Warehouses</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initiate_Inventories_From_Warehouses_To_Insert</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>mfg_Inventory__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>mfg_Warehouse__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>allStorageWarehouses[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>mfg_Product__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>allProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>allStorageWarehouses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Warehouse__c</objectType>
    </variables>
    <variables>
        <name>inventoriesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>objectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userNotification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
