MFG Ready Version/force-app/main/default/flows/mfg_Production_Batch_Unit_After_Save_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sync_Inventory_with_Production_Batch_Units</name>
        <label>Sync Inventory with Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MFG_SyncInventoryWithPBUHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pbuIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MFG_SyncInventoryWithPBUHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Sync_Inventory_with_Production_Batch_Units_If_Inventory_And_OP_Changed</name>
        <label>Sync Inventory with Production Batch Units - If Inventory And OP Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MFG_SyncInventoryWithPBUHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pbuIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MFG_SyncInventoryWithPBUHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Sync_Inventory_with_Production_Batch_Units_If_OP_Changed</name>
        <label>Sync Inventory with Production Batch Units - If OP Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MFG_SyncInventoryWithPBUHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pbuIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MFG_SyncInventoryWithPBUHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Sync_Inventory_with_Production_Batch_Units_PBU_Delivered</name>
        <label>Sync Inventory with Production Batch Units - PBU Delivered</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MFG_SyncInventoryWithPBUHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>pbuIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MFG_SyncInventoryWithPBUHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Sync_Order_Product_with_Production_Batch_Units</name>
        <label>Sync Order Product with Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MFG_SyncOrderProductWithPBUHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>$Record.mfg_Order_Product__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MFG_SyncOrderProductWithPBUHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Sync_Order_Product_with_Production_Batch_Units_If_OP_And_Inventory_Changed</name>
        <label>Sync Order Product with Production Batch Units - If OP And Inventory Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MFG_SyncOrderProductWithPBUHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sync_Inventory_with_Production_Batch_Units_If_Inventory_And_OP_Changed</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>$Record.mfg_Order_Product__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MFG_SyncOrderProductWithPBUHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Sync_Order_Product_with_Production_Batch_Units_If_Order_Product_Changed</name>
        <label>Sync Order Product with Production Batch Units - If Order Product Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MFG_SyncOrderProductWithPBUHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Sync_Inventory_with_Production_Batch_Units_If_OP_Changed</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>$Record.mfg_Order_Product__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MFG_SyncOrderProductWithPBUHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_Relationship_Change_in</name>
        <label>If Relationship Change in</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Inventory_And_Order_Product</name>
            <conditionLogic>(1 AND 2) AND (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.mfg_Inventory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.mfg_Inventory__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.mfg_Inventory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.mfg_Order_Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.mfg_Order_Product__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.mfg_Order_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Order_Product_with_Production_Batch_Units_If_OP_And_Inventory_Changed</targetReference>
            </connector>
            <label>Inventory And Order Product</label>
        </rules>
        <rules>
            <name>Inventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.mfg_Inventory__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.mfg_Inventory__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.mfg_Inventory__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Inventory_with_Production_Batch_Units</targetReference>
            </connector>
            <label>Inventory</label>
        </rules>
        <rules>
            <name>Order_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.mfg_Order_Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.mfg_Order_Product__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.mfg_Order_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Order_Product_with_Production_Batch_Units_If_Order_Product_Changed</targetReference>
            </connector>
            <label>Order Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Status_Is</name>
        <label>If Status Is</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Delivered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.mfg_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Production_Batch_Unit_To_Asset_Convertion</targetReference>
            </connector>
            <label>Delivered</label>
        </rules>
        <rules>
            <name>Installed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.mfg_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Sync_From_Production_Batch_Unit</targetReference>
            </connector>
            <label>Installed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Production_Batch_Unit</name>
        <label>Is New Production Batch Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Existing Production Batch Unit</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Transport_And_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Order_Product_with_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, New Production Batch Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Changed</name>
        <label>Is Status Changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_Relationship_Change_in</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Status Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.mfg_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.mfg_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Status_Is</targetReference>
            </connector>
            <label>Yes, Status Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>triggeringRecordId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Production Batch Unit After Save Handler - mfg_Production_Batch_Unit_After_Save_Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Production Batch Unit After Save Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Production_Batch_Unit</targetReference>
        </connector>
        <filterFormula>{!$Label.mfg_Activate_Flow} = &quot;true&quot;</filterFormula>
        <object>mfg_Production_Batch_Unit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Asset_Sync_From_Production_Batch_Unit</name>
        <label>Asset Sync From Production Batch Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>mfg_Asset_Sync_From_Production_Batch_Unit</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>triggeringRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Production_Batch_Unit_To_Asset_Convertion</name>
        <label>Production Batch Unit To Asset Convertion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sync_Inventory_with_Production_Batch_Units_PBU_Delivered</targetReference>
        </connector>
        <flowName>mfg_Production_Batch_Unit_To_Asset_Convertion</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>triggeringRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
