MFG Ready Version/force-app/main/default/flows/mfg_Sync_Primary_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Contact_To_Update_Current_Contact</name>
        <label>Collect Contact To Update - Current Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Contacts_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Contact_To_Update_Current_Contact_And_Existing_Primary_Contact</name>
        <label>Collect Contact To Update - Current Contact And Existing Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>existingPrimaryContactToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Contacts_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Contact_To_Update_New_Primary_Contact</name>
        <label>Collect Contact To Update - New Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Contacts_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Account_To_Update_By_Replacing_New_Primary_Contact</name>
        <label>Frame Account To Update By Replacing New Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountToInsert.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountToInsert.mfg_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frame_Contacts_To_Update_Current_Contact_And_Existing_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Account_To_Update_with_New_primary_Contact</name>
        <label>Frame Account To Update with New primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>accountToInsert.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountToInsert.mfg_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Frame_Contact_To_Update_New_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Contact_To_Update_Current_Contact</name>
        <label>Frame Contact To Update - Current Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contact.mfg_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Contact_To_Update_Current_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Contact_To_Update_New_Primary_Contact</name>
        <label>Frame  Contact To Update - New Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contact.mfg_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Contact_To_Update_New_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Contacts_To_Update_Current_Contact_And_Existing_Primary_Contact</name>
        <label>Frame Contacts To Update - Current Contact And Existing Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contact.mfg_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingPrimaryContactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Account.mfg_Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>existingPrimaryContactToUpdate.mfg_Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Contact_To_Update_Current_Contact_And_Existing_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Are_there_Contacts_to_update</name>
        <label>Are there Contacts to update ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Contacts are not there to update</defaultConnectorLabel>
        <rules>
            <name>Yes_Contacts_are_there_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contacts</targetReference>
            </connector>
            <label>Yes, Contacts are there to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Primary_Contact_in_related_account_is</name>
        <label>If Primary Contact in related account is</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact.Account.mfg_Primary_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_Contact</targetReference>
            </connector>
            <label>Not Populated</label>
        </rules>
        <rules>
            <name>Populated_With_Same_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact.Account.mfg_Primary_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contact.Account.mfg_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Primary_Contact</targetReference>
            </connector>
            <label>Populated With Same Contact</label>
        </rules>
        <rules>
            <name>Populated_With_Different_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact.Account.mfg_Primary_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contact.Account.mfg_Primary_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Primary_Contact</targetReference>
            </connector>
            <label>Populated With Different Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Found</name>
        <label>Is Contact Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Contact With Account Id Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Contact_Found_With_AccountId_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Primary_Contact_in_related_account_is</targetReference>
            </connector>
            <label>Yes, Contact Found With AccountId Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Flow_Access_Allowed</name>
        <label>Is Flow Access Allowed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Flow Access Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Yes_Flow_Access_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.mfg_Activate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.mfg_Activate_Flow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_RecordId_Populated</targetReference>
            </connector>
            <label>Yes, Flow Access Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RecordId_Populated</name>
        <label>Is RecordId Populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, RecordId is not Populated</defaultConnectorLabel>
        <rules>
            <name>Yes_RecordId_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_With_AccountId</targetReference>
            </connector>
            <label>Yes, RecordId is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_account_to_update</name>
        <label>Is there account to update ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>User_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Account is not there to update</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_is_there_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountToInsert.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Yes, Account is there to update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync Primary Contact - mfg_Sync_Primary_Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Primary Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_With_AccountId</name>
        <label>Get Contact With AccountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>mfg_Primary_Contact__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Notification</targetReference>
        </connector>
        <inputReference>accountToInsert</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_there_account_to_update</targetReference>
        </connector>
        <inputReference>contactsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Already_Primary_Contact</name>
        <label>Already Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Frame_Contact_To_Update_Current_Contact</targetReference>
        </connector>
        <fields>
            <name>AlreadyPrimaryContactNotification</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(11, 11, 11);&quot;&gt;{!contact.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(131, 130, 130);&quot;&gt; is already set as the Primary Contact for this account.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_Primary_Contact</name>
        <label>Change Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Frame_Account_To_Update_By_Replacing_New_Primary_Contact</targetReference>
        </connector>
        <fields>
            <name>ChangePrimaryContactConfirmation</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(98, 98, 98); font-size: 14px;&quot;&gt;Parent account already has a Primary Contact.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(98, 98, 98); font-size: 14px;&quot;&gt;If you continue, &lt;/span&gt;&lt;strong style=&quot;color: rgb(34, 34, 34); font-size: 14px;&quot;&gt;{!contact.Name}&lt;/strong&gt;&lt;span style=&quot;color: rgb(98, 98, 98); font-size: 14px;&quot;&gt; will replace the existing Primary Contact.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(98, 98, 98); font-size: 14px;&quot;&gt;Click &lt;/span&gt;&lt;strong style=&quot;color: rgb(15, 14, 14); font-size: 14px;&quot;&gt;Confirm &lt;/strong&gt;&lt;span style=&quot;color: rgb(98, 98, 98); font-size: 14px;&quot;&gt;to continue.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Primary_Contact</name>
        <label>Set Primary Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Frame_Account_To_Update_with_New_primary_Contact</targetReference>
        </connector>
        <fields>
            <name>SetPrimaryContactConfirmation</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; color: rgb(105, 103, 103);&quot;&gt;Parent account does not currently have a Primary Contact.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(27, 27, 27);&quot;&gt;{!contact.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(105, 103, 103);&quot;&gt; will be set as the Primary Contact for parent account.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; color: rgb(105, 103, 103);&quot;&gt;Click &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(8, 8, 8);&quot;&gt;Confirm &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(105, 103, 103);&quot;&gt;to continue.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>User_Notification</name>
        <label>User Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>userNotificationMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 228, 34);&quot;&gt;{!userNotification}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Flow_Access_Allowed</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>userNotification</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(26, 218, 4);&quot;&gt;{!contact.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(26, 218, 4);&quot;&gt; is now the Primary Contact for Parent account.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>existingPrimaryContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
