MFG Ready Version/force-app/main/default/flows/mfg_Create_Claim_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Prepare_Claim_Record</name>
        <label>Prepare Claim Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewClaim.mfg_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClaim.mfg_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClaim.mfg_Claim_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClaim.mfg_Location__CountryCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.mfg_Location__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClaim.mfg_Location__StateCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.mfg_Location__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClaim.mfg_Location__City__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.mfg_Location__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClaim.mfg_Location__Street__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.mfg_Location__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClaim.mfg_Location__PostalCode__s</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.mfg_Location__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClaim.mfg_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClaim.mfg_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewClaim.mfg_CIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Records.mfg_CIN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Claim_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConvertedClaimIDonCase</name>
        <label>Set Converted Claim ID on Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Records.mfg_ConvertedClaimId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewClaim.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Records.mfg_ConvertedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_with_Converted_Claim_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Case_Status_Converted</name>
        <label>is Case Status  Converted?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_It_Is_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Records.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Claim_Record</targetReference>
            </connector>
            <label>Yes,It Is Converted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Claim from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Claim from Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Claim_Record</name>
        <label>Create Claim Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetConvertedClaimIDonCase</targetReference>
        </connector>
        <inputReference>NewClaim</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Case_Status_Converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_with_Converted_Claim_ID</name>
        <label>Update Case with Converted Claim ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Get_Case_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewClaim</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Claim__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
