MFG Ready Version/force-app/main/default/flows/mfg_Production_Order_After_Save_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_New_Production_order</name>
        <label>Is New Production order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Production_Order_Status_Set_To_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Existing production Order</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Production_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Production_Batch_Creation</targetReference>
            </connector>
            <label>Yes, New Production Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Order_Status_Set_To_Completed</name>
        <label>Is Production Order Status Set To Completed ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Not Completed</defaultConnectorLabel>
        <rules>
            <name>Yes_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.mfg_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transport_Schedule_And_Transport_Products_Sync</targetReference>
            </connector>
            <label>Yes, Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Production Order After Save Handler - mfg_Production_Order_After_Save_Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Production Order After Save Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Production_order</targetReference>
        </connector>
        <filterFormula>{!$Label.mfg_Activate_Flow} = &quot;true&quot;</filterFormula>
        <object>mfg_Production_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Production_Batch_Creation</name>
        <label>Production Batch Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>mfg_Production_Batch_Creation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Transport_Schedule_And_Transport_Products_Sync</name>
        <label>Transport Schedule And Transport Products Sync</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>mfg_Transport_Schedule_And_Transport_Products_Sync</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
