MFG Ready Version/force-app/main/default/flows/mfg_Sync_Production_Batch_Unit_With_Transport_And_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Production_Batch_Units_In_Collection_To_Update</name>
        <label>Collect Production Batch Units In Collection To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnitsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productionBatchUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Production_Batch_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Production_Batch_Units_To_Update</name>
        <label>Frame Production Batch Units To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProductionBatchUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatchUnit.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Production_Batch_Units.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Transport_And_Schedule_Status_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Production_Batch_Units</name>
        <label>Initiate Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Production_Batch_Units</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Production_Batch_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Transport_And_Schedule</name>
        <label>Initiate Transport And Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transport_And_Schedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Schedule_Status_is</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Transport_Products</name>
        <label>Initiate Transport Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transport_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Transport_Product_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Production_Batch_Units_Status_As_Completed</name>
        <label>Set Production Batch Units Status As Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnit.mfg_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Production_Batch_Units_In_Collection_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Production_Batch_Units_Status_As_Dispatched</name>
        <label>Set Production Batch Units Status As Dispatched</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnit.mfg_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Production_Batch_Units_In_Collection_To_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Related_Production_Batch_Units_Found</name>
        <label>Are Related Production Batch Units Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Related Production Batch Units are not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Production_Batch_Units_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Production_Batch_Units</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Related Production Batch Units Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_production_batch_units_to_update</name>
        <label>Are there production batch units to update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Batch Units are not there to update</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_Units_are_there_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchUnitsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Production Batch Units are there to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Transport_Products_Found</name>
        <label>Are Transport Products Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Transport Products Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Transport_Products_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transport_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Transport_Products</targetReference>
            </connector>
            <label>Yes, Transport Products Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Schedule_Status_is</name>
        <label>If Schedule Status is</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>In_Transit_or_Completed_or_Delivery_Confirmed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>transportSchedule.mfg_Schedule_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Transit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>transportSchedule.mfg_Schedule_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>transportSchedule.mfg_Schedule_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transport_Products</targetReference>
            </connector>
            <label>In-Transit or Completed or Delivery Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Transport_And_Schedule_Status_is</name>
        <label>If Transport And Schedule Status is</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Iterate_Production_Batch_Units</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>In_Transit_or_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>transportSchedule.mfg_Schedule_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Transit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>transportSchedule.mfg_Schedule_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Production_Batch_Units_Status_As_Dispatched</targetReference>
            </connector>
            <label>In-Transit or Completed</label>
        </rules>
        <rules>
            <name>Delivery_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transportSchedule.mfg_Schedule_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Production_Batch_Units_Status_As_Completed</targetReference>
            </connector>
            <label>Delivery Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Transport_And_Schedule_Found</name>
        <label>Is Transport And Schedule Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Transport And Schedule Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Transport_And_Schedule_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transport_And_Schedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Transport_And_Schedule</targetReference>
            </connector>
            <label>Yes, Transport And Schedule Found</label>
        </rules>
    </decisions>
    <description>This is a AutoLaunched Flow.
This flow is triggered when a record is updated. It first retrieves the associated transport and schedule record. Based on the schedule status, it then fetches related transport products and production batch units. Depending on the schedule status, it updates the status of the production batch units accordingly.</description>
    <environments>Default</environments>
    <interviewLabel>Sync Production Batch Unit With Transport And Schedule - mfg_Sync_Production_Batch_Unit_With_Transport_And_Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Production Batch Unit With Transport And Schedule</label>
    <loops>
        <name>Iterate_Production_Batch_Units</name>
        <label>Iterate Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>productionBatchUnits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Frame_Production_Batch_Units_To_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_production_batch_units_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Production_Batch_Units</name>
        <label>Get Related Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Related_Production_Batch_Units_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Transport_Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Collect_Transport_Product_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>mfg_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Production_Batch_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transport_And_Schedule</name>
        <label>Get Transport And Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Transport_And_Schedule_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Transport_And_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transport_Products</name>
        <label>Get Transport Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Transport_Products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Transport_And_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transportSchedule.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Transport_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Production_Batch_Units</name>
        <label>Update Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>productionBatchUnitsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transport_And_Schedule</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <transforms>
        <name>Collect_Transport_Product_Ids</name>
        <label>Collect Transport Product Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Production_Batch_Units</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>transportProducts[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>newProductionBatchUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnitsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transportProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_Product__c</objectType>
    </variables>
    <variables>
        <name>transportSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_And_Schedule__c</objectType>
    </variables>
</Flow>
