MFG Ready Version/force-app/main/default/flows/mfg_Sync_Inventory_With_Production_Batch_Unit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Quantity_on_hand_Production_Batch_Units_Count</name>
        <label>Assign Quantity on hand Production Batch Units Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>quantityOnHandProductionBatchUnitsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Collect_Quantity_On_Hand_Production_Batch_Units</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quantity_On_Hand_Production_Batch_Units_Count_Equals_Zero</name>
        <label>Assign Quantity On Hand Production Batch Units Count Equals Zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>quantityOnHandProductionBatchUnitsCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZERO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reserved_Production_Batch_Units_Count</name>
        <label>Assign Reserved Production Batch Units Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>reservedProductionBatchUnitsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Collect_Reserved_Production_Batch_Units</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Quantity_On_Hand_Production_Batch_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reserved_Production_Batch_Units_Count_equals_Zero</name>
        <label>Assign Reserved Production Batch Units Count equals Zero</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>reservedProductionBatchUnitsCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ZERO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Quantity_On_Hand_Production_Batch_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Inventory_And_Related_Production_Batch_Units</name>
        <label>Initiate Inventory And Related Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory_And_Related_Production_Batch_Units</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatchUnits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory_And_Related_Production_Batch_Units.Production_Batch_Units__r</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Related_Production_Batch_Units_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Production_Batch_Unit</name>
        <label>Initiate Production Batch Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatchUnitParam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Inventory_Populated</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collect_Quantity_On_Hand_Production_Batch_Units</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collect Quantity On Hand Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Collect_Quantity_On_Hand_Production_Batch_Units</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>productionBatchUnits</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collect_Quantity_On_Hand_Production_Batch_Units.mfg_Status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Failed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Collect_Quantity_On_Hand_Production_Batch_Units.mfg_Status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Delivered</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Collect_Quantity_On_Hand_Production_Batch_Units.mfg_Status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Installed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Collect_Quantity_On_Hand_Production_Batch_Units.mfg_Asset__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Are_Quantity_On_Hand_Production_batch_Units_Found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Collect_Reserved_Production_Batch_Units</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collect Reserved Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Collect_Quantity_On_Hand_Production_Batch_Units</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>productionBatchUnits</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collect_Quantity_On_Hand_Production_Batch_Units.mfg_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Reserved</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Collect_Quantity_On_Hand_Production_Batch_Units.mfg_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Dispatched</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Are_Reserved_Production_batch_Units_Found</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Quantity_On_Hand_Production_batch_Units_Found</name>
        <label>Are Quantity On Hand Production batch Units Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Quantity_On_Hand_Production_Batch_Units_Count_Equals_Zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Quantity On Hand production Batch Units are not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Quantity_On_Hand_production_batch_units_are_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_Quantity_On_Hand_Production_Batch_Units</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quantity_on_hand_Production_Batch_Units_Count</targetReference>
            </connector>
            <label>Yes, Quantity On Hand production batch units are found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Related_Production_Batch_Units_Found</name>
        <label>Are Related Production Batch Units Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Related Production Batch Units Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Related_Production_Batch_Units_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchUnits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Reserved_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Related Production Batch Units Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Reserved_Production_batch_Units_Found</name>
        <label>Are Reserved Production batch Units Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Reserved_Production_Batch_Units_Count_equals_Zero</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Reserved production Batch Units are not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Reserved_production_batch_units_are_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collect_Reserved_Production_Batch_Units</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reserved_Production_Batch_Units_Count</targetReference>
            </connector>
            <label>Yes, Reserved production batch units are found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Inventory_Found</name>
        <label>Is Inventory Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Inventory Not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventory_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inventory_And_Related_Production_Batch_Units.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Inventory_And_Related_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Inventory Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Inventory_Populated</name>
        <label>Is Inventory Populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Inventory is not populated</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventory_Is_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchUnit.mfg_Inventory__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Inventory_And_Related_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Inventory Is Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Batch_Unit_Found</name>
        <label>Is Production Batch Unit Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Batch Unit Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_Unit_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchUnitParam.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Production_Batch_Unit</targetReference>
            </connector>
            <label>Yes, Production Batch Unit Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sync Inventory With Production Batch Unit - mfg_Sync_Inventory_With_Production_Batch_Unit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Inventory With Production Batch Unit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Inventory_And_Related_Production_Batch_Units</name>
        <label>Get Inventory And Related Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Inventory_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productionBatchUnit.mfg_Inventory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Inventory__c</object>
        <queriedFields>mfg_Quantity_On_Hand__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>mfg_Reserved_Quantity__c</queriedFields>
        <relatedRecords>
            <getFirstRecordOnly>false</getFirstRecordOnly>
            <queriedFields>mfg_Asset__c</queriedFields>
            <queriedFields>mfg_Inventory__c</queriedFields>
            <queriedFields>mfg_Order_Product__c</queriedFields>
            <queriedFields>mfg_Product__c</queriedFields>
            <queriedFields>mfg_Production_Batch__c</queriedFields>
            <queriedFields>Id</queriedFields>
            <queriedFields>mfg_Status__c</queriedFields>
            <queriedFields>mfg_Transport_Product__c</queriedFields>
            <relatedObject>mfg_Production_Batch_Unit__c</relatedObject>
            <relationshipField>Production_Batch_Units__r</relationshipField>
        </relatedRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inventory</name>
        <label>Update Inventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inventory.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>mfg_Quantity_On_Hand__c</field>
            <value>
                <elementReference>quantityOnHandProductionBatchUnitsCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mfg_Reserved_Quantity__c</field>
            <value>
                <elementReference>reservedProductionBatchUnitsCount</elementReference>
            </value>
        </inputAssignments>
        <object>mfg_Inventory__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Production_Batch_Unit_Found</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Collect_Quantity_On_Hand_Production_Batch_Units</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>inventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnitParam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>quantityOnHandProductionBatchUnitsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reservedProductionBatchUnitsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
