MFG Ready Version/force-app/main/default/flows/mfg_Assign_Transport_Product_to_Production_Batch_Units.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Production_Batch_Units_In_Collection_To_Update</name>
        <label>Collect Production Batch Units In Collection To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnitsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productionBatchUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_production_Batch_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Production_batch_Units_To_Update</name>
        <label>Frame Production batch Units To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProductionBatchUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatchUnit.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_production_Batch_Units.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatchUnit.mfg_Transport_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transportProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Production_Batch_Units_In_Collection_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Production_batch_Units</name>
        <label>Initiate Production batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchUnits</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Batch_Units</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_production_Batch_Units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Transport_product</name>
        <label>Initiate Transport product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transport_product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Order_product_populated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Production_Batch_Units_Found</name>
        <label>Are Production Batch Units Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Batch Units not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_Units_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Batch_Units</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Production_batch_Units</targetReference>
            </connector>
            <label>Yes, Production Batch Units Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_production_batch_units_to_update</name>
        <label>Are there production batch units to update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Batch Units are not there to update</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Batch_Units_are_there_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchUnitsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Production Batch Units are there to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Order_product_populated</name>
        <label>Is Order product populated ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Order Product is not Populated</defaultConnectorLabel>
        <rules>
            <name>Yes_Order_product_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transportProduct.mfg_Order_Product__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Production_Batch_Units</targetReference>
            </connector>
            <label>Yes, Order product Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Transport_Product_Found</name>
        <label>Is Transport Product Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Transport Product Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Transport_product_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transport_product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Transport_product</targetReference>
            </connector>
            <label>Yes, Transport product Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assign Transport Product to Production Batch Units - mfg_Assign_Transport_Product_to_Production_Batch_Units {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Transport Product to Production Batch Units</label>
    <loops>
        <name>Iterate_production_Batch_Units</name>
        <label>Iterate production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>productionBatchUnits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Frame_Production_batch_Units_To_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_production_batch_units_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Production_Batch_Units</name>
        <label>Get Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Production_Batch_Units_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Order_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transportProduct.mfg_Order_Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>mfg_Asset__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Order_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Transport_Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Production_Batch_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transport_product</name>
        <label>Get Transport product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Transport_Product_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Transport_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Production_Batch_Units</name>
        <label>Update Production Batch Units</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>productionBatchUnitsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transport_product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newProductionBatchUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>productionBatchUnitsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch_Unit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transportProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_Product__c</objectType>
    </variables>
</Flow>
