MFG Ready Version/force-app/main/default/flows/mfg_Production_Batch_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Production_Batch_in_Collection_To_Create</name>
        <label>Collect Production Batch in Collection To Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productionBatch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_have_Production_Batches_To_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Production_Batches_in_Collection_To_Create</name>
        <label>Collect Production Batches in Collection To Create</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatchesToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>productionBatch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recalculate_Production_Order_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Production_Batch</name>
        <label>Frame Production Batch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProductionBatch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatch.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionOrder.mfg_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatch.mfg_Production_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatch.mfg_Planned_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateProductionOrderQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Production_Batch_in_Collection_To_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Production_Batches</name>
        <label>Frame Production Batches</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionBatch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newProductionBatch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatch.mfg_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionOrder.mfg_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatch.mfg_Production_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionBatch.mfg_Planned_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productionBatchSize</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Production_Batches_in_Collection_To_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Production_Order_And_Quantity</name>
        <label>Initiate Production Order And Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>productionOrderQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Production_Order.mfg_Quantity_Ordered__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Storage_Warehouse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recalculate_Production_Order_Quantity</name>
        <label>Recalculate Production Order Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>productionOrderQuantity</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>productionBatchSize</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Production_Order_Quantity_Lesser_Than_or_Equal_To_Batch_Size</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Batch_Size_And_Production_Quantity_Greater_Than_Zero</name>
        <label>Are Batch Size And Production Quantity Greater Than Zero ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Not greater than zero</defaultConnectorLabel>
        <rules>
            <name>Yes_Greater_than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchSize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>productionOrderQuantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Production_Order_Quantity_Lesser_Than_or_Equal_To_Batch_Size</targetReference>
            </connector>
            <label>Yes, Greater than Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_have_Production_Batches_To_Create</name>
        <label>Do have Production Batches To Create ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Don&apos;t Have Production Orders To Create</defaultConnectorLabel>
        <rules>
            <name>Yes_Have_Production_Orders_To_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionBatchesToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Production_Batches</targetReference>
            </connector>
            <label>Yes, Have Production Orders To Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Order_Found</name>
        <label>Is Production Order Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Production Order Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Order_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Production_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Production_Order_And_Quantity</targetReference>
            </connector>
            <label>Yes, Production Order Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Production_Order_Quantity_Lesser_Than_or_Equal_To_Batch_Size</name>
        <label>Is Production Order Quantity Lesser Than or Equal To Batch Size</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Frame_Production_Batches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Lesser_Than_Or_Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productionOrderQuantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>productionBatchSize</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Frame_Production_Batch</targetReference>
            </connector>
            <label>Yes, Lesser Than Or Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Storage_Warehouse_Found</name>
        <label>Is Storage Warehouse Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Storage Warehouse Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Storage_Warehouse_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storageWarehouseId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Inventory</targetReference>
            </connector>
            <label>Yes, Storage Warehouse Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calculateProductionOrderQuantity</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!productionOrderQuantity} - {!productionBatchSize}&gt; 0,
    {!productionOrderQuantity} - {!productionBatchSize},
    {!productionOrderQuantity}
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Production Batch Creation - mfg_Production_Batch_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Production Batch Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Production_Batches</name>
        <label>Create Production Batches</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>productionBatchesToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Production_Order</name>
        <label>Get Production Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Production_Order_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Production_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Inventory</name>
        <label>Get Related Inventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Batch_Size_And_Production_Quantity_Greater_Than_Zero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productionOrder.mfg_Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>mfg_Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storageWarehouseId</elementReference>
            </value>
        </filters>
        <object>mfg_Inventory__c</object>
        <outputAssignments>
            <assignToReference>productionBatchSize</assignToReference>
            <field>mfg_Batch_Size__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Storage_Warehouse</name>
        <label>Get Related Storage Warehouse</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Storage_Warehouse_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Storage</stringValue>
            </value>
        </filters>
        <filters>
            <field>mfg_Warehouse_Linking_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productionOrder.mfg_Warehouse__r.mfg_Warehouse_Linking_Code__c</elementReference>
            </value>
        </filters>
        <object>mfg_Warehouse__c</object>
        <outputAssignments>
            <assignToReference>storageWarehouseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Production_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>newProductionBatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch__c</objectType>
    </variables>
    <variables>
        <name>productionBatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch__c</objectType>
    </variables>
    <variables>
        <name>productionBatchesToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Batch__c</objectType>
    </variables>
    <variables>
        <name>productionBatchSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>productionOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Production_Order__c</objectType>
    </variables>
    <variables>
        <name>productionOrderQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storageWarehouseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
