MFG Ready Version/force-app/main/default/flows/mfg_Inventory_Sync_From_Transport_And_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collect_Inventories_To_Update_in_Collection</name>
        <label>Collect Inventories To Update in Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventoriesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Transport_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Frame_Inventory_To_Update</name>
        <label>Frame Inventory To Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newInventory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filteredInventory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventory.mfg_Quantity_On_Hand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filteredInventory.mfg_Quantity_On_Hand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventory.mfg_Quantity_On_Hand__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Iterate_Transport_Products.mfg_Product_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventory.mfg_Reserved_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>filteredInventory.mfg_Reserved_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventory.mfg_Reserved_Quantity__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Iterate_Transport_Products.mfg_Product_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Inventories_To_Update_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Exact_Inventory</name>
        <label>Initiate Exact Inventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>filteredInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newInventory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>filteredInventory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Filtered_Inventory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Filtered_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Inventories</name>
        <label>Initiate Inventories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>inventories</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Inventories_of_Transport_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Transport_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Transport_And_Schedule</name>
        <label>Initiate Transport And Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transport_And_Schedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Product_Status_Set_to_Product_Collected_In_Transport_And_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Transport_Products</name>
        <label>Initiate Transport Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transportProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transport_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProductIds_From_Transport_Product</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Inventory_Basedon_Product</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Inventory Basedon Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Inventory_Basedon_Product</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>inventories</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Inventory_Basedon_Product.mfg_Product__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Transport_Products.mfg_Product__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Filtered_Inventory</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_Inventories_found</name>
        <label>Are Inventories found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Inventories are not found</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventories_are_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Inventories_of_Transport_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Inventories</targetReference>
            </connector>
            <label>Yes, Inventories are found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_any_Inventory_records_that_need_to_be_updated</name>
        <label>Are there any Inventory records that need to be updated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Inventories are not there to update</defaultConnectorLabel>
        <rules>
            <name>Yes_Inventories_are_there_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inventoriesToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Inventories</targetReference>
            </connector>
            <label>Yes, Inventories are there to update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Transport_Products_Found</name>
        <label>Are Transport Products Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Transport Products Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Transport_Products_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transport_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Transport_Products</targetReference>
            </connector>
            <label>Yes, Transport Products Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Status_Set_to_Product_Collected_In_Transport_And_Schedule</name>
        <label>Is Product Status Set to Product Collected In Transport And Schedule ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Product Status is not Product Collected</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Status_is_Product_Collected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transportSchedule.mfg_Product_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Products Collected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transport_Products</targetReference>
            </connector>
            <label>Yes, Product Status is Product Collected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Transport_And_Schedule_Found</name>
        <label>Is Transport And Schedule Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No, Transport And Schedule Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Transport_And_Schedule_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transport_And_Schedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Transport_And_Schedule</targetReference>
            </connector>
            <label>Yes, Transport And Schedule Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Inventory Sync From Transport And Schedule - mfg_Inventory_Sync_From_Transport_And_Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Sync From Transport And Schedule</label>
    <loops>
        <name>Iterate_Filtered_Inventory</name>
        <label>Iterate Filtered Inventory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Filter_Inventory_Basedon_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initiate_Exact_Inventory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Frame_Inventory_To_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Transport_Products</name>
        <label>Iterate Transport Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>transportProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Inventory_Basedon_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_any_Inventory_records_that_need_to_be_updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Inventories_of_Transport_Products</name>
        <label>Get Related Inventories of Transport Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Inventories_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Warehouse__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transportSchedule.mfg_Storage_Warehouse__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>mfg_Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ProductIds_From_Transport_Product</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Inventory__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transport_And_Schedule</name>
        <label>Get Transport And Schedule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Transport_And_Schedule_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>mfg_Transport_And_Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transport_Products</name>
        <label>Get Transport Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Transport_Products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>mfg_Transport_And_Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>transportSchedule.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>mfg_Transport_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inventories</name>
        <label>Update Inventories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>inventoriesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transport_And_Schedule</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <transforms>
        <name>ProductIds_From_Transport_Product</name>
        <label>ProductIds From Transport Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Inventories_of_Transport_Products</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Transport_Products[$EachItem].mfg_Product__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItem_Filter_Inventory_Basedon_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>filteredInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>inventories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>inventoriesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>inventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>isExactInventoryFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Inventory__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transportProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_Product__c</objectType>
    </variables>
    <variables>
        <name>transportSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>mfg_Transport_And_Schedule__c</objectType>
    </variables>
</Flow>
