SIS/force-app/main/default/flows/SIS_Handle_Primary_Contact_Checkbox.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Parent_Contact_Is_Created_Or_Updated</name>
        <label>Check Parent Contact Is Created Or Updated</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Contact_Is_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Parent_Contact_As_Primary_Contact</targetReference>
            </connector>
            <label>Parent Contact Is Created</label>
        </rules>
        <rules>
            <name>Parent_Contact_Is_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Primary_Contact_Is_Checked_By_The_User</targetReference>
            </connector>
            <label>Parent Contact Is Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Contact_Is_Checked_By_The_User</name>
        <label>Check Primary Contact Is Checked By The User</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Contact_Is_Checked_By_The_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Other_Primary_Contact_Checkbox</targetReference>
            </connector>
            <label>Yes, Primary Contact Is Checked By The User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SIS_Handle Primary Contact Checkbox {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SIS_Handle Primary Contact Checkbox</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_New_Parent_Contact_As_Primary_Contact</name>
        <label>Update New Parent Contact As Primary Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Other_Primary_Contact_Checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other_Primary_Contact_Checkbox</name>
        <label>Update Other Primary Contact Checkbox</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Parent_Contact_Is_Created_Or_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
